%footer-item {
  @include font(medium);
  color: var(--text-surface-primary);
  text-transform: none;
}
.fusion-ui {
  .footer-container,
  &.footer-container {
    background-color: var(--surface-tertiary);
    padding: calc(10 * var(--space-unit)) calc(18 * var(--space-unit));
    a {
      margin-top: 0;
      color: var(--text-surface-primary);
    }
  }

  .footer-header,
  .footer-bottom {
    display: flex;
    gap: calc(6 * var(--space-unit));
    @extend %footer-item;
  }

  .footer-brand {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
  }

  .footer-logo {
    max-width: calc(10 * var(--space-unit));
  }

  .footer-container hr {
    background-color: var(--borders-dividers-02);
  }

  .footer-brand {
    @extend %footer-item;
    color: var(--text-surface-tertiary);
  }

  .bg04,
  &.bg04 {
    .footer-container,
    &.footer-container {
      background-color: var(--backgrounds-04);
      *:not(.footer-brand) {
        color: var(--text-on-primary);
      }
      .footer-header,
      .footer-bottom {
        gap: calc(4 * var(--space-unit));
      }
    }
  }

  @include breakpoint("mobile") {
    .footer-container,
    &.footer-container {
      padding: calc(4 * var(--space-unit)) calc(2 * var(--space-unit))
        calc(3 * var(--space-unit));
      width: 100%;
      .footer-header,
      .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .footer-brand {
          order: 100;
        }
      }
    }
  }
}
