@use "../theme/tokens" as tokens;

%table {
  width: 100%;
  @include tokens.text(base);
  border-spacing: 0 calc(var(--space-unit) * 0.5);
  border-collapse: separate;
  color: var(--color-neutral-800);

  &[data-disabled="true"] tr *,
  &[data-disabled="true"] .td * {
    color: var(--color-neutral-500);
    pointer-events: none;
    input[type="checkbox"],
    .checkbox {
      border: calc(var(--space-unit) * 0.125) solid var(--color-neutral-300);
      pointer-events: none;
      color: var(--color-neutral-500);
      cursor: none;
    }
  }

  & tr[data-disabled="true"] *,
  .tr[data-disabled="true"] * {
    color: var(--color-neutral-500);
    pointer-events: none;
    input[type="checkbox"],
    .checkbox {
      border: calc(var(--space-unit) * 0.125) solid var(--color-neutral-300);
      pointer-events: none;
      color: var(--color-neutral-500);
      cursor: none;
    }
  }

  .table-menu-dropdown {
    width: auto;

    & .dropdown-menu {
      width: auto;
      transform: translateX(-50%);
    }
  }

  .table-menu-info {
    @extend %button-icon_interactive;
    color: var(--color-neutral-500);
    &:has(.material-icons:not(.left, .right)) {
      min-width: auto;
      width: calc(var(--space-unit) * 3);
      height: calc(var(--space-unit) * 3);
    }
    .material-icons {
      font-size: calc(var(--space-unit) * 2);
    }
    &:hover,
    &:active,
    &:focus-visible {
      color: var(--color-neutral-800);
    }
  }

  .table-star {
    @extend %button-icon_interactive;
    color: var(--color-neutral-500);
    &:has(.material-icons:not(.left, .right)) {
      min-width: auto;
      width: calc(var(--space-unit) * 4);
      height: calc(var(--space-unit) * 4);
    }
    .material-icons {
      font-size: calc(var(--space-unit) * 3);
    }
    &:hover,
    &:active,
    &:focus-visible {
      color: var(--color-neutral-800);
    }
    &.active {
      background: inherit;
      color: var(--color-warning-400);
    }
  }
}

%tbody {
  tr,
  .tr {
    @include tokens.radius(1);
    &:focus-visible {
      outline: calc(var(--space-unit) * 0.5) solid var(--color-primary-500);
    }
    &:focus:not(:focus-visible) {
      outline: none;
    }
    &:hover:not(.active) {
      background-color: var(--color-neutral-100);
    }

    td:last-child,
    .td:last-child {
      border-radius: 0 calc(var(--radius-unit) * 1) calc(var(--radius-unit) * 1)
        0;
    }

    td:first-child,
    .td:first-child {
      border-radius: calc(var(--radius-unit) * 1) 0 0
        calc(var(--radius-unit) * 1);
    }

    td,
    .td {
      padding: calc(var(--space-unit) * 1) calc(var(--space-unit) * 2);
      .table-content {
        display: flex;
        align-items: center;
        min-width: max-content;
      }
    }

    & > input[type="checkbox"] {
      margin: 0;
    }

    height: calc(var(--space-unit) * 8);
  }

  tr.active {
    background-color: var(--color-primary-100);
  }
}

%thead {
  height: calc(var(--space-unit) * 6);
  tr,
  .tr {
    padding: 0 calc(var(--space-unit) * 2);
    background-color: var(--color-neutral-100);
    border-bottom: calc(var(--space-unit) * 0.125) solid
      var(--color-neutral-300);

    td:last-child,
    .td:last-child {
      border-radius: 0 calc(var(--radius-unit) * 1) 0 0;
    }

    td:first-child,
    .td:first-child {
      border-radius: calc(var(--radius-unit) * 1) 0 0 0;
    }

    td,
    .td {
      padding: calc(var(--space-unit) * 1) calc(var(--space-unit) * 2);
      font-weight: 500;
      border-bottom: calc(var(--space-unit) * 0.125) solid
        var(--color-neutral-300);
      overflow: hidden;
      .table-content {
        display: flex;
        align-items: center;
        min-width: max-content;
      }
    }

    & > input[type="checkbox"] {
      margin: 0;
    }
  }

  &::after {
    content: "";
    height: var(--space-unit);
  }
}

.fusion-ui {
  .table-wrapper,
  &.table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  table,
  .table,
  &.table {
    @extend %table;
  }

  .table-rotate-device {
    display: none;
  }

  tbody,
  .tbody,
  &.tbody {
    @extend %tbody;
  }

  thead,
  .thead,
  &.thead {
    @extend %thead;
    & .checkbox-container {
      margin: 0;
    }
  }

  @include breakpoint("mobile") {
    .table-wrapper {
      box-shadow: tokens.shadow(md);
      @include tokens.radius(1);
    }

    table,
    .table,
    &.table {
      border-spacing: unset;
    }

    thead {
      & tr > td:first-child {
        position: sticky;
        left: 0;
        background-color: var(--color-neutral-100);
        border-right: 1px solid var(--color-neutral-300);
      }
    }

    tbody {
      tr {
        &:hover:not(.active) td:first-child {
          background-color: var(--color-neutral-100);
        }
        &.active {
          & td:first-child {
            background-color: var(--color-neutral-0);
          }
        }
      }

      td {
        min-width: calc(var(--space-unit) * 20);
      }

      &.table-rotate-device,
      .table-rotate-device {
        color: var(--color-neutral-500);
        display: flex;
        & .material-icons {
          font-size: calc(var(--space-unit) * 2);
          margin-right: calc(var(--space-unit) * 1);
        }
        & > .table-rotate-device-text {
          @include tokens.text(base);
        }
      }
    }

    tbody,
    .tbody,
    &.tbody {
      & tr > td:first-child {
        position: sticky;
        left: 0;
        background-color: var(--backgrounds-01);
        border-right: 1px solid var(--borders-dividers-01);
        border-radius: 0;
      }
      & tr > td:last-child {
        border-radius: 0;
      }
    }
  }

  @include breakpoint("mobile") {
    .table-wrapper {
      box-shadow: tokens.shadow(md);
      @include tokens.radius(1);
    }

    .table-rotate-device {
      display: none;
    }
  }

  .bg02,
  &.bg02 {
    tr,
    .tr {
      &:hover:not(.active) {
        background-color: var(--backgrounds-03);
      }
    }
  }
}

table.fusion-ui {
  @extend %table;

  .table-rotate-device {
    display: none;
  }

  tbody,
  .tbody,
  &.tbody {
    @extend %tbody;
  }

  thead,
  .thead,
  &.thead {
    @extend %thead;
  }

  @include breakpoint("mobile") {
    .table-wrapper {
      box-shadow: 0px calc(var(--space-unit) / 0.75) calc(3 * var(--space-unit))
        rgba(28, 48, 75, 0.08);
      @include tokens.radius(1);
    }

    table,
    .table,
    &.table {
      border-spacing: unset;
    }

    thead {
      & tr > td:first-child {
        position: sticky;
        left: 0;
        background-color: var(--color-neutral-100);
        border-right: 1px solid var(--color-neutral-300);
      }
    }

    tbody {
      tr {
        &:hover:not(.active) td:first-child {
          background-color: var(--color-neutral-100);
        }
        &.active {
          & td:first-child {
            background-color: var(--color-neutral-0);
          }
        }
      }

      td {
        min-width: calc(var(--space-unit) * 20);
      }

      &.table-rotate-device,
      .table-rotate-device {
        color: var(--color-neutral-500);
        display: flex;
        & .material-icons {
          font-size: calc(var(--space-unit) * 2);
          margin-right: calc(var(--space-unit) * 1);
        }
        & > .table-rotate-device-text {
          @include tokens.text(base);
        }
      }
    }

    tbody,
    .tbody,
    &.tbody {
      & tr > td:first-child {
        position: sticky;
        left: 0;
        background-color: var(--color-neutral-0);
        border-right: 1px solid var(--color-neutral-300);
        border-radius: 0;
      }
      & tr > td:last-child {
        border-radius: 0;
      }
    }
  }

  @include breakpoint("mobile") {
    .table-wrapper {
      box-shadow: tokens.shadow(md);
      @include tokens.radius(1);
    }

    .table-rotate-device {
      display: none;
    }
  }
}
