@use "../utilities/mixins" as ms;

$colors: "primary", "secondary", "accent", "success", "warning", "error",
  "neutral";
$appearances: "outlined", "text";
$sizes: "small", "large";

@mixin color($color) {
  @include ms.background($color);
  border: 0;
  &:hover {
    @include ms.background($color, "hover");
  }
  &:active {
    @include ms.background($color, "active");
  }
  &:focus-visible {
    @include ms.background($color, "focus");
    outline: calc(var(--space-unit) / 2) solid ms.color($color, 300);
  }
  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

@mixin appearance($variant, $color) {
  @include ms.background($color, "default", "true");
  @if $variant == "text" {
    border: 0;
  } @else {
    border: calc(var(--space-unit) / 8) solid ms.color($color);
  }
  &:hover {
    @if $variant == "outlined" {
      border-color: ms.color($color, 600);
    }
    @include ms.background($color, "hover", "true");
  }
  &:active {
    @if $variant == "outlined" {
      border-color: ms.color($color, 700);
    }
    @include ms.background($color, "active", "true");
  }
  &:focus-visible {
    @if $variant == "outlined" {
      border-color: ms.color($color, 600);
    }
    @include ms.background($color, "focus", "true");
    outline: calc(var(--space-unit) / 2) solid ms.color($color, 300);
  }
  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

@mixin size($size, $icon: "false") {
  @if $icon == "false" {
    @include ms.space("min-width", 20);
  }
  @if $size == "small" {
    @if $icon == "false" {
      padding: var(--space-unit) calc(2 * var(--space-unit));
    } @else {
      padding: var(--space-unit);
      @include ms.space("min-width", 4);
      @include ms.space("width", 4);
    }
    height: calc(4 * var(--space-unit));
    @include ms.text(sm);
  } @else if $size == "large" {
    @if $icon == "false" {
      padding: calc(2 * var(--space-unit)) calc(3 * var(--space-unit));
    } @else {
      padding: calc(2 * var(--space-unit));
      @include ms.space("min-width", 7);
      @include ms.space("width", 7);
    }
    height: calc(7 * var(--space-unit));
    @include ms.text(lg);
  } @else {
    @if $icon == "false" {
      padding: var(--space-unit) calc(3 * var(--space-unit));
    } @else {
      padding: var(--space-unit);
      @include ms.space("min-width", 5);
      @include ms.space("width", 5);
    }
    height: calc(5 * var(--space-unit));
    @include ms.text(base);
  }
}

@mixin button(
  $color: "primary",
  $appearance: "filled",
  $size: "medium",
  $icon: "false"
) {
  outline: 0;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  @include ms.radius(1);
  @include ms.space("gap", 1);
  text-transform: uppercase;
  @include color($color);
  @if $appearance != "filled" {
    @include appearance($appearance, $color);
  }
  @include size($size, $icon);
}

.fusion-ui {
  .button,
  &.button {
    @include button("primary");

    @each $color in $colors {
      &_#{$color} {
        @include button($color);
        @each $appearance in $appearances {
          &_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size);
              }
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
            &.icon_button {
              @include button($color, $appearance, "medium", "true");
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
              }
            }
          }
          &.#{$appearance} {
            @include button($color, $appearance);
          }
          &.button_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size);
              }
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
            &.icon_button {
              @include button($color, $appearance, "medium", "true");
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
              }
            }
          }
        }

        @each $size in $sizes {
          &_#{$size} {
            @include button($color, filled, $size);
          }
          &.#{$size} {
            @include button($color, filled, $size);
          }
          &.button_#{$size} {
            @include button($color, filled, $size);
          }
        }
        &.icon_button {
          @include button($color, filled, "medium", "true");
          @each $size in $sizes {
            &_#{$size} {
              @include button($color, filled, $size, "true");
            }
            &.#{$size} {
              @include button($color, filled, $size, "true");
            }
            &.button_#{$size} {
              @include button($color, filled, $size, "true");
            }
          }
        }
      }

      &.#{$color} {
        @include button($color);
        @each $appearance in $appearances {
          &.#{$appearance} {
            @include button($color, $appearance);
          }
          &.button_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
            &.icon_button {
              @include button($color, $appearance, "medium", "true");
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
              }
            }
          }
          @each $size in $sizes {
            &.#{$size} {
              @include button($color, $appearance, $size);
            }
            &.button_#{$size} {
              @include button($color, $appearance, $size);
            }
          }
          &.icon_button {
            @include button($color, $appearance, "medium", "true");
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size, "true");
              }
              &.#{$size} {
                @include button($color, $appearance, $size, "true");
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size, "true");
              }
            }
          }
        }
      }
    }

    @each $appearance in $appearances {
      &_#{$appearance} {
        @include button("primary", $appearance);
        @each $size in $sizes {
          &_#{$size} {
            @include button("primary", $appearance, $size);
          }
          &.#{$size} {
            @include button("primary", $appearance, $size);
          }
          &.button_#{$size} {
            @include button("primary", $appearance, $size);
          }
        }
        &.icon_button {
          @include button("primary", $appearance, "medium", "true");
          @each $size in $sizes {
            &_#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
            &.#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
            &.button_#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
          }
        }
      }
      &.#{$appearance} {
        @include button("primary", $appearance);
      }
      &.button_#{$appearance} {
        @include button("primary", $appearance);
        @each $size in $sizes {
          &_#{$size} {
            @include button("primary", $appearance, $size);
          }
          &.#{$size} {
            @include button("primary", $appearance, $size);
          }
          &.button_#{$size} {
            @include button("primary", $appearance, $size);
          }
        }
        &.icon_button {
          @include button("primary", $appearance, "medium", "true");
          @each $size in $sizes {
            &_#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
            &.#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
            &.button_#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
          }
        }
      }
    }

    @each $size in $sizes {
      &_#{$size} {
        @include button("primary", filled, $size);
      }
      &.#{$size} {
        @include button("primary", filled, $size);
      }
      &.button_#{$size} {
        @include button("primary", filled, $size);
      }
    }
    &.icon_button {
      @include button("primary", filled, "medium", "true");
      @each $size in $sizes {
        &_#{$size} {
          @include button("primary", filled, $size, "true");
        }
        &.#{$size} {
          @include button("primary", filled, $size, "true");
        }
        &.button_#{$size} {
          @include button("primary", filled, $size, "true");
        }
      }
    }
  }

  input[type="button"],
  input[type="submit"],
  button {
    @include button("primary");

    @each $color in $colors {
      &.#{$color} {
        @include button($color);
      }
      @each $appearance in $appearances {
        &.#{$appearance} {
          @include button($color, $appearance);
        }
      }
    }

    @each $size in $sizes {
      &.#{$size} {
        @include button("primary", filled, $size);
      }
    }

    &.icon_button {
      @include button("primary", filled, "medium", "true");
      @each $size in $sizes {
        &_#{$size} {
          @include button("primary", filled, $size, "true");
        }
        &.#{$size} {
          @include button("primary", filled, $size, "true");
        }
        &.button_#{$size} {
          @include button("primary", filled, $size, "true");
        }
      }
    }

    &.button {
      @include button("primary");

      @each $color in $colors {
        &_#{$color} {
          @include button($color);
          @each $appearance in $appearances {
            &_#{$appearance} {
              @include button($color, $appearance);
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size);
                }
              }
              &.icon_button {
                @include button($color, $appearance, "medium", "true");
                @each $size in $sizes {
                  &_#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                  &.#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                  &.button_#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                }
              }
            }
            &.#{$appearance} {
              @include button($color, $appearance);
            }
            &.button_#{$appearance} {
              @include button($color, $appearance);
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size);
                }
              }
              &.icon_button {
                @include button($color, $appearance, "medium", "true");
                @each $size in $sizes {
                  &_#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                  &.#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                  &.button_#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                }
              }
            }
          }

          @each $size in $sizes {
            &_#{$size} {
              @include button($color, filled, $size);
            }
            &.#{$size} {
              @include button($color, filled, $size);
            }
            &.button_#{$size} {
              @include button($color, filled, $size);
            }
          }
          &.icon_button {
            @include button($color, filled, "medium", "true");
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, filled, $size, "true");
              }
              &.#{$size} {
                @include button($color, filled, $size, "true");
              }
              &.button_#{$size} {
                @include button($color, filled, $size, "true");
              }
            }
          }
        }

        &.#{$color} {
          @include button($color);
          @each $appearance in $appearances {
            &.#{$appearance} {
              @include button($color, $appearance);
            }
            &.button_#{$appearance} {
              @include button($color, $appearance);
              @each $size in $sizes {
                &.#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size);
                }
              }
              &.icon_button {
                @include button($color, $appearance, "medium", "true");
                @each $size in $sizes {
                  &_#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                  &.#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                  &.button_#{$size} {
                    @include button($color, $appearance, $size, "true");
                  }
                }
              }
            }
            @each $size in $sizes {
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
            &.icon_button {
              @include button($color, $appearance, "medium", "true");
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
              }
            }
          }
        }
      }

      @each $appearance in $appearances {
        &_#{$appearance} {
          @include button("primary", $appearance);
          @each $size in $sizes {
            &_#{$size} {
              @include button("primary", $appearance, $size);
            }
            &.#{$size} {
              @include button("primary", $appearance, $size);
            }
            &.button_#{$size} {
              @include button("primary", $appearance, $size);
            }
          }
          &.icon_button {
            @include button("primary", $appearance, "medium", "true");
            @each $size in $sizes {
              &_#{$size} {
                @include button("primary", $appearance, $size, "true");
              }
              &.#{$size} {
                @include button("primary", $appearance, $size, "true");
              }
              &.button_#{$size} {
                @include button("primary", $appearance, $size, "true");
              }
            }
          }
        }
        &.#{$appearance} {
          @include button("primary", $appearance);
        }
        &.button_#{$appearance} {
          @include button("primary", $appearance);
          @each $size in $sizes {
            &_#{$size} {
              @include button("primary", $appearance, $size);
            }
            &.#{$size} {
              @include button("primary", $appearance, $size);
            }
            &.button_#{$size} {
              @include button("primary", $appearance, $size);
            }
          }
          &.icon_button {
            @include button("primary", $appearance, "medium", "true");
            @each $size in $sizes {
              &_#{$size} {
                @include button("primary", $appearance, $size, "true");
              }
              &.#{$size} {
                @include button("primary", $appearance, $size, "true");
              }
              &.button_#{$size} {
                @include button("primary", $appearance, $size, "true");
              }
            }
          }
        }
      }

      @each $size in $sizes {
        &_#{$size} {
          @include button("primary", filled, $size);
        }
        &.#{$size} {
          @include button("primary", filled, $size);
        }
        &.button_#{$size} {
          @include button("primary", filled, $size);
        }
      }
      &.icon_button {
        @include button("primary", filled, "medium", "true");
        @each $size in $sizes {
          &_#{$size} {
            @include button("primary", filled, $size, "true");
          }
          &.#{$size} {
            @include button("primary", filled, $size, "true");
          }
          &.button_#{$size} {
            @include button("primary", filled, $size, "true");
          }
        }
      }
    }
  }
}

input[type="button"].fusion-ui,
input[type="submit"].fusion-ui,
button.fusion-ui {
  @include button("primary");

  @each $color in $colors {
    &.#{$color} {
      @include button($color);
    }
    @each $appearance in $appearances {
      &.#{$appearance} {
        @include button($color, $appearance);
      }
    }
  }

  @each $size in $sizes {
    &.#{$size} {
      @include button("primary", filled, $size);
    }
  }

  &.icon_button {
    @include button("primary", filled, "medium", "true");
    @each $size in $sizes {
      &_#{$size} {
        @include button("primary", filled, $size, "true");
      }
      &.#{$size} {
        @include button("primary", filled, $size, "true");
      }
      &.button_#{$size} {
        @include button("primary", filled, $size, "true");
      }
    }
  }

  &.button {
    @include button("primary");

    @each $color in $colors {
      &_#{$color} {
        @include button($color);
        @each $appearance in $appearances {
          &_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size);
              }
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
            &.icon_button {
              @include button($color, $appearance, "medium", "true");
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
              }
            }
          }
          &.#{$appearance} {
            @include button($color, $appearance);
          }
          &.button_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size);
              }
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
            &.icon_button {
              @include button($color, $appearance, "medium", "true");
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
              }
            }
          }
        }

        @each $size in $sizes {
          &_#{$size} {
            @include button($color, filled, $size);
          }
          &.#{$size} {
            @include button($color, filled, $size);
          }
          &.button_#{$size} {
            @include button($color, filled, $size);
          }
        }
        &.icon_button {
          @include button($color, filled, "medium", "true");
          @each $size in $sizes {
            &_#{$size} {
              @include button($color, filled, $size, "true");
            }
            &.#{$size} {
              @include button($color, filled, $size, "true");
            }
            &.button_#{$size} {
              @include button($color, filled, $size, "true");
            }
          }
        }
      }

      &.#{$color} {
        @include button($color);
        @each $appearance in $appearances {
          &.#{$appearance} {
            @include button($color, $appearance);
          }
          &.button_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
            &.icon_button {
              @include button($color, $appearance, "medium", "true");
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size, "true");
                }
              }
            }
          }
          @each $size in $sizes {
            &.#{$size} {
              @include button($color, $appearance, $size);
            }
            &.button_#{$size} {
              @include button($color, $appearance, $size);
            }
          }
          &.icon_button {
            @include button($color, $appearance, "medium", "true");
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size, "true");
              }
              &.#{$size} {
                @include button($color, $appearance, $size, "true");
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size, "true");
              }
            }
          }
        }
      }
    }

    @each $appearance in $appearances {
      &_#{$appearance} {
        @include button("primary", $appearance);
        @each $size in $sizes {
          &_#{$size} {
            @include button("primary", $appearance, $size);
          }
          &.#{$size} {
            @include button("primary", $appearance, $size);
          }
          &.button_#{$size} {
            @include button("primary", $appearance, $size);
          }
        }
        &.icon_button {
          @include button("primary", $appearance, "medium", "true");
          @each $size in $sizes {
            &_#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
            &.#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
            &.button_#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
          }
        }
      }
      &.#{$appearance} {
        @include button("primary", $appearance);
      }
      &.button_#{$appearance} {
        @include button("primary", $appearance);
        @each $size in $sizes {
          &_#{$size} {
            @include button("primary", $appearance, $size);
          }
          &.#{$size} {
            @include button("primary", $appearance, $size);
          }
          &.button_#{$size} {
            @include button("primary", $appearance, $size);
          }
        }
        &.icon_button {
          @include button("primary", $appearance, "medium", "true");
          @each $size in $sizes {
            &_#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
            &.#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
            &.button_#{$size} {
              @include button("primary", $appearance, $size, "true");
            }
          }
        }
      }
    }

    @each $size in $sizes {
      &_#{$size} {
        @include button("primary", filled, $size);
      }
      &.#{$size} {
        @include button("primary", filled, $size);
      }
      &.button_#{$size} {
        @include button("primary", filled, $size);
      }
    }
    &.icon_button {
      @include button("primary", filled, "medium", "true");
      @each $size in $sizes {
        &_#{$size} {
          @include button("primary", filled, $size, "true");
        }
        &.#{$size} {
          @include button("primary", filled, $size, "true");
        }
        &.button_#{$size} {
          @include button("primary", filled, $size, "true");
        }
      }
    }
  }
}
