@use "../utilities/mixins" as ms;

.fusion-ui {
  .calendar,
  &.calendar {
    box-shadow: ms.shadow(base);
    width: calc(46 * var(--space-unit));
    min-height: calc(46 * var(--space-unit));
    max-height: calc(52 * var(--space-unit));
    border-radius: var(--space-unit);
    background: var(--surface-primary);
    padding: calc(2 * var(--space-unit));
    overflow: hidden;
  }

  .calendar-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(3 * var(--space-unit));
  }

  .calendar-month-weekdays {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(2 * var(--space-unit));
    margin-bottom: calc(2 * var(--space-unit));
  }

  .calendar-month-weekdays div {
    text-decoration: none;
    flex-basis: calc(100% / 7);
    max-width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;

    abbr {
      text-decoration: none;
      color: var(--text-surface-secondary);
    }
  }

  .calendar-month-days {
    display: flex;
    flex-wrap: wrap;
  }

  button.calendar-day {
    position: relative;
    @extend .button_text;
    @include ms.background("neutral", default, "true");
    min-width: auto;
    padding: 0;
    width: calc(6 * var(--space-unit));
    height: calc(6 * var(--space-unit));
    &:disabled {
      color: ms.color("neutral", 500);
    }
    &.active {
      @include ms.background("primary", default);
    }
    &.today::after {
      position: absolute;
      content: "";
      bottom: calc(0.5 * var(--space-unit));
      width: 4px;
      height: 4px;
      background: var(--background-interactive-primary-active);
      border-radius: 50%;
    }
  }

  .calendar-years {
    width: calc(100% + var(--space-unit));
    height: calc(34 * var(--space-unit));
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  button.calendar-year {
    @extend .button_text_small;
    @include ms.background("neutral", default, "true");
    min-width: auto;
    &.selected {
      @include ms.background("primary", default);
    }
  }

  @include breakpoint("mobile") {
    .calendar,
    &.calendar {
      width: calc(37 * var(--space-unit));
      padding: calc(2 * var(--space-unit)) var(--space-unit);
    }

    .calendar-navigation {
      margin-bottom: calc(2 * var(--space-unit));
    }

    button.calendar-day {
      width: calc(5 * var(--space-unit));
      height: calc(5 * var(--space-unit));
    }
  }
}
