@use "../utilities/mixins" as ms;

@mixin card($orientation: "vertical") {
  position: relative;
  width: fit-content;
  height: fit-content;
  @include ms.space(min-height, 9);
  max-width: 80vw;
  @include ms.shadow(lg);
  display: flex;
  padding: 0 calc(3 * var(--space-unit)) calc(3 * var(--space-unit));
  @if ($orientation == "horizontal") {
    @include ms.space(padding-left, 23);
    &:has(> .card-img_absolute) {
      padding: 0 calc(3 * var(--space-unit)) calc(3 * var(--space-unit));
    }
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
  flex: 1;
  word-wrap: break-word;
  background-clip: border-box;
  @include ms.border(0, 1);
  @include ms.surface(primary);

  @include img($orientation);
}

@mixin img($orientation: "vertical") {
  .card-img {
    @if ($orientation == "horizontal") {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-top-left-radius: var(--space-unit);
      border-bottom-left-radius: var(--space-unit);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: calc(20 * var(--space-unit));
    } @else {
      position: relative;
      width: calc(100% + 6 * var(--space-unit));
    }
    align-self: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .card-img_absolute {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.fusion-ui {
  .card,
  &.card {
    @include card();
    &_horizontal {
      @include card("horizontal");
    }
  }
  .card-header {
    @include ms.text(xl);
    width: 100%;
    flex: 0 1 auto;
    margin: calc(3 * var(--space-unit)) 0 0;
    border: 0;
    gap: calc(2 * var(--space-unit));
    background: inherit;
    padding: 0;
  }

  .card-body {
    margin: calc(3 * var(--space-unit)) 0 0;
    border: 0;
    width: 100%;
    flex: 1 1 auto;
    color: var(--text-surface-secondary);
    padding: 0;
  }
  .card-header + .card-body {
    margin: var(--space-unit) 0 0;
  }

  .card-footer {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: calc(3 * var(--space-unit));
    width: 100%;
    border: 0;
    margin: calc(4 * var(--space-unit)) 0 0;
    background: inherit;
    padding: 0;
  }

  .card-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }

  .card-float {
    position: absolute;
    @include ms.space(padding, 1);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-unit);
  }

  .card-top + .card-header {
    margin: calc(2 * var(--space-unit)) 0 0;
  }

  .card-figure + .card-header {
    margin: calc(1 * var(--space-unit)) 0 0;
  }

  .card-top + .card-body {
    margin: calc(2 * var(--space-unit)) 0 0;
  }
}
