@use "../utilities/mixins" as ms;

@mixin card($orientation: "vertical") {
  position: relative;
  width: fit-content;
  height: fit-content;
  @include ms.space(min-height, 9);
  max-width: 80vw;
  box-shadow: ms.shadow(lg);
  display: flex;
  padding: 0 calc(3 * var(--space-unit)) calc(3 * var(--space-unit));
  @if ($orientation == "horizontal") {
    @include ms.space(padding-left, 23);
    &:has(> .card-img_absolute) {
      padding: 0 calc(3 * var(--space-unit)) calc(3 * var(--space-unit));
    }
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
  flex: 1;
  word-wrap: break-word;
  background-clip: border-box;
  @include ms.border(0, 1, surface);
  @include ms.surface(primary);

  @include img($orientation);
}

@mixin img($orientation: "vertical") {
  .card-img {
    @if ($orientation == "horizontal") {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-top-left-radius: var(--space-unit);
      border-bottom-left-radius: var(--space-unit);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: calc(20 * var(--space-unit));
    } @else {
      position: relative;
      width: calc(100% + 6 * var(--space-unit));
    }
    align-self: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .card-img_absolute {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.fusion-ui {
  .card,
  &.card {
    @include card();
    &_horizontal {
      @include card("horizontal");
    }
  }
  .card-header {
    width: 100%;
    flex: 0 1 auto;
    margin: calc(3 * var(--space-unit)) 0 0;
    border: 0;
    gap: calc(2 * var(--space-unit));
    background: inherit;
    padding: 0;
  }

  .card-body {
    margin: calc(3 * var(--space-unit)) 0 0;
    border: 0;
    width: 100%;
    flex: 1 1 auto;
    color: var(--text-surface-secondary);
    padding: 0;
  }
  .card-header + .card-body {
    margin: var(--space-unit) 0 0;
  }

  .card-footer {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: calc(3 * var(--space-unit));
    width: 100%;
    border: 0;
    margin: calc(4 * var(--space-unit)) 0 0;
    background: inherit;
    padding: 0;
  }

  .card-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }

  .card-float-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-unit);
  }

  .card-float-icon {
    position: absolute;
    width: calc(4 * var(--space-unit));
    height: calc(4 * var(--space-unit));
    font-size: calc(4 * var(--space-unit));
    font-family: "Material Icons Outlined";
  }

  .card-figure {
    position: relative;
    width: 100%;
    flex: 0 1 auto;
    margin: calc(3 * var(--space-unit)) 0 0;
    color: var(--background-accent);
    .card-float-icon {
      color: var(--icons-01);
    }
  }

  .card-top + .card-header {
    margin: calc(2 * var(--space-unit)) 0 0;
  }

  .card-figure + .card-header {
    margin: calc(1 * var(--space-unit)) 0 0;
  }

  .card-top + .card-body {
    margin: calc(2 * var(--space-unit)) 0 0;
  }

  .card_selected,
  &.card_selected,
  .card_vertical_selected,
  &.card_vertical_selected,
  .card_horizontal_selected,
  &.card_horizontal_selected,
  .card_figure_selected,
  &.card_figure_selected,
  .card_figure_accent_selected,
  &.card_figure_accent_selected,
  .card_teaser_selected,
  &.card_teaser_selected,
  .card_icon_selected,
  &.card_icon_selected,
  .card_masonry_selected,
  &.card_masonry_selected,
  .card_masonry_horizontal_selected,
  &.card_masonry_horizontal_selected,
  .card_map_selected,
  &.card_map_selected {
    outline: calc(var(--space-unit) / 4) solid
      var(--borders-dividers-interactive-active);
  }

  //FIGURE
  .card_figure,
  &.card_figure,
  .card_figure_selected,
  &.card_figure_selected,
  .card_figure_accent,
  &.card_figure_accent,
  .card_figure_accent_selected,
  &.card_figure_accent_selected {
    padding: 0 calc(3 * var(--space-unit)) calc(4 * var(--space-unit));
    .card-figure {
      .card-float-icon {
        top: 0;
        right: 0;
      }
      &:only-child {
        width: fit-content;
        .card-float-icon {
          display: block;
          position: relative;
          margin: 0 auto var(--space-unit);
        }
      }
    }
    .card-figure:has(.card-float-icon) ~ .card-header,
    .card-figure:has(.card-float-icon) ~ .card-body {
      padding-right: calc(5 * var(--space-unit));
    }

    &:has(.card-figure:only-child) {
      width: fit-content;
    }
  }

  .card_figure_accent,
  &.card_figure_accent,
  .card_figure_accent_selected,
  &.card_figure_accent_selected {
    background: var(--background-accent);
    .card-figure,
    .card-header,
    .card-body,
    .card-float-icon {
      color: var(--text-on-accent-primary);
    }
  }

  //ICON
  .card_icon,
  &.card_icon,
  .card_icon_selected,
  &.card_icon_selected {
    flex-direction: row;
    padding: calc(3 * var(--space-unit)) calc(4 * var(--space-unit));
    .card-icon {
      width: calc(10 * var(--space-unit));
      height: calc(10 * var(--space-unit));
      padding: calc(2.5 * var(--space-unit));
      border-radius: 50%;
      background: var(--surface-secondary);
      margin: auto calc(4 * var(--space-unit)) auto 0;
      .material-icons {
        font-size: calc(5 * var(--space-unit));
      }
    }
    .card_icon-content {
      margin: auto 0;
      .card-header {
        margin: 0;
      }
      .card-body {
        margin: 0;
      }
      .card-header + .card-body {
        margin: var(--space-unit) 0 0;
      }
      .card-footer {
        justify-content: flex-start;
        margin: calc(2 * var(--space-unit)) 0 0;
      }
    }
  }

  //TEASER
  .card_teaser,
  &.card_teaser,
  .card_teaser_selected,
  &.card_teaser_selected {
    .card-footer {
      > * {
        width: 100%;
      }
    }
  }

  //MASONRY
  .card_masonry,
  &.card_masonry,
  .card_masonry_selected,
  &.card_masonry_selected,
  .card_masonry_horizontal,
  &.card_masonry_horizontal,
  .card_masonry_horizontal_selected,
  &.card_masonry_horizontal_selected {
    padding: 0;

    .card-img {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        height: 100%;
        width: 100%;
      }
    }

    .card_masonry-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: calc(2 * var(--space-unit));
      z-index: 1;
      display: flex;
      flex-direction: column;
    }

    .card-top {
      justify-content: space-between;
      margin: 0;
      .button-card-icon {
        margin-left: auto;
        & + .button-card-icon {
          margin-left: var(--space-unit);
        }
      }
    }
    .card-header {
      margin: auto 0 0;
      padding: 0 calc(3 * var(--space-unit)) 0 var(--space-unit);
      color: var(--text-on-primary);
    }
    .card-body {
      flex: 0 1 auto;
      padding: 0 calc(3 * var(--space-unit)) 0 var(--space-unit);
      color: var(--text-on-primary);
    }

    .card-header + .card-body {
      margin-top: calc(2 * var(--space-unit));
    }

    .card-img.bgAccent ~ .card_masonry-content .card-header,
    .card-img.bgAccent ~ .card_masonry-content .card-body {
      color: var(--text-on-accent-primary);
    }
  }

  .card_masonry,
  &.card_masonry,
  .card_masonry_selected,
  &.card_masonry_selected {
    height: calc(78 * var(--space-unit));
    min-width: calc(44 * var(--space-unit));
    width: fit-content;
    img {
      height: 100%;
    }
  }

  .card_masonry_horizontal,
  &.card_masonry_horizontal,
  .card_masonry_horizontal_selected,
  &.card_masonry_horizontal_selected {
    height: calc(26 * var(--space-unit));
    min-width: calc(94 * var(--space-unit));
    img {
      width: 100%;
    }
    .card-body {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  //LOCATION MAP

  .card_map,
  &.card_map,
  .card_map_selected,
  &.card_map_selected {
    min-height: calc(30 * var(--space-unit));
    .card-top {
      margin: 0;
      position: absolute;
      top: calc(2 * var(--space-unit));
      left: calc(2 * var(--space-unit));
      width: calc(100% - 4 * var(--space-unit));
    }
    .card-img {
      &:only-child {
        min-height: calc(30 * var(--space-unit));
        max-height: none;
        margin-bottom: calc(-3 * var(--space-unit));
      }
      height: calc(26 * var(--space-unit));
      position: relative;
      button {
        display: none;
      }
      &:hover {
        button {
          display: block;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 0;
          border-radius: calc(2 * var(--space-unit));
          padding: calc(var(--space-unit) / 2) calc(2 * var(--space-unit))
            calc(var(--space-unit) / 2) var(--space-unit);
          background: var(--surface-primary);
          color: var(--text-surface-primary);
          display: flex;
          align-items: center;
          gap: calc(var(--space-unit) / 2);
          min-width: auto;
          height: auto;
          .material-icons {
            font-size: calc(2 * var(--space-unit));
            margin-right: 0;
          }
        }
        &::before {
          content: "";
          background: linear-gradient(
            0deg,
            rgba(28, 48, 75, 0.24),
            rgba(28, 48, 75, 0.24)
          );
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .card-header {
      display: flex;
      align-items: center;
      margin: calc(2 * var(--space-unit)) 0 0;
      .button-card-icon {
        margin-left: auto;
      }
    }
    .card-body {
      flex: 0 1 auto;
    }
    .card-header:has(.button-card-icon) ~ .card-body {
      padding-right: calc(6 * var(--space-unit));
    }
  }

  //DRAG AND DROP
  .card_drag-drop,
  &.card_drag-drop,
  .card_drag-drop_placeholder,
  &.card_drag-drop_placeholder,
  .card_drag-drop_completed,
  &.card_drag-drop_completed,
  .card_drag-drop_dropdown,
  &.card_drag-drop_dropdown {
    position: relative;
    min-width: calc(22 * var(--space-unit));
    max-width: calc(33 * var(--space-unit));
    min-height: calc(7 * var(--space-unit));
    display: flex;
    align-items: center;
    border: calc(var(--space-unit) / 8) solid var(--borders-dividers-01);
    border-radius: var(--space-unit);
    padding: calc(2 * var(--space-unit));
    background: var(--surface-primary);
    margin-bottom: var(--space-unit);
    &:active,
    &.active {
      border: calc(var(--space-unit) / 8) solid
        var(--borders-dividers-interactive-active);
    }
    .card-header {
      display: flex;
      flex: 1;
      margin: 0;
      cursor: default;
      gap: var(--space-unit);
    }
  }

  .card_drag-drop_completed,
  &.card_drag-drop_completed {
    .card-header::after {
      position: relative;
      margin-left: auto;
      content: "\e86c";
      font-family: "Material Icons";
      font-size: calc(2 * var(--space-unit));
      color: var(--icons-feedback-success);
    }
  }

  .card_drag-drop_dropdown,
  &.card_drag-drop_dropdown {
    height: auto;

    .dropdown {
      width: 100%;
      .dropdown-button {
        display: flex;
        align-items: center;
        .card-header {
          cursor: pointer;
        }
        .material-icons {
          color: var(--icons-01);
          margin-left: auto;
          font-size: calc(3 * var(--space-unit));
        }
      }
      .dropdown-menu {
        position: relative;
        max-width: 100%;
        min-width: auto;
        margin-top: calc(2 * var(--space-unit));
        top: inherit;
        left: inherit;
        color: var(--text-surface-primary);
      }
    }
  }

  .card_drag-drop[draggable="true"],
  .card_drag-drop_completed[draggable="true"] {
    &::before {
      position: relative;
      margin-right: var(--space-unit);
      content: "\e945";
      font-family: "Material Icons";
      font-size: calc(2 * var(--space-unit));
      cursor: grab;
      color: var(--icons-01);
    }

    .dropdown {
      margin: auto 0 0 auto;
      width: auto;
      .dropdown-button .material-icons {
        font-size: calc(2 * var(--space-unit));
      }
      .dropdown-menu {
        width: max-content;
        top: calc(100% + var(--space-unit) / 2);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .card_drag-drop_placeholder,
  &.card_drag-drop_placeholder {
    border: calc(var(--space-unit) / 8) dashed var(--borders-dividers-02);
    .card-header {
      color: var(--text-surface-secondary);
    }
  }
}
