@use "../utilities/mixins" as ms;
.fusion-ui {
  .drawer-overlay,
  &.drawer-overlay {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    &::after {
      content: "";
      @include ms.background(neutral, default, filled, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .drawer-wrapper,
  &.drawer-wrapper {
    @include ms.shadow(lg);
    background-color: var(--surface-primary);
    padding: calc(4 * var(--space-unit));
    display: flex;
    flex-direction: column;
    width: calc(41 * var(--space-unit));
    height: 100%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }

    .drawer-header {
      flex: 0 1 auto;
      margin-bottom: calc(3 * var(--space-unit));
    }
    .drawer-body {
      flex: 1 1 auto;
      overflow-y: auto;
    }
    .drawer-footer {
      flex: 0 1 auto;
      margin-top: auto;
    }
  }

  @include breakpoint("mobile") {
    .drawer-wrapper {
      padding: calc(3 * var(--space-unit));
      .drawer-header {
        margin-bottom: calc(3 * var(--space-unit));
      }
    }
  }
}
