@use "../utilities/mixins" as ms;

.fusion-ui {
  .tabs,
  &.tabs {
    position: relative;
    @include breakpoint("mobile") {
      overflow-x: hidden;
    }
  }

  .tab-list {
    width: 100%;
    display: inline-flex;
    @include ms.space(margin-bottom, 1);
    @include ms.space(padding-bottom, 1);
    box-shadow: var(--border-surface) 0 -2px 0 0 inset;

    & > .tab-list-dropdown {
      margin-left: calc(-1 * var(--space-unit));
    }

    @include breakpoint("mobile") {
      width: 100%;
      justify-content: space-evenly;
    }
  }

  button.tab-list-item {
    @extend .button_neutral_text;
    position: relative;
    min-width: inherit;
    text-transform: none;
    &.active::after {
      position: absolute;
      content: "";
      bottom: calc(-1 * var(--space-unit));
      left: 0;
      right: 0;
      height: 2px;
      background: ms.color(accent, 500);
    }
  }

  .tabs_vertical,
  &.tabs_vertical {
    position: relative;
    display: flex;
    @include ms.space(gap, 1);
    .tab-list {
      display: block;
      text-align: end;
      box-shadow: var(--border-surface) -2px 0 0 0 inset;
      width: max-content;

      @include ms.space(margin-bottom, 0);
      @include ms.space(padding-bottom, 0);
      @include ms.space(padding-right, 1);
    }
    button.tab-list-item.active::after {
      top: 0;
      bottom: 0;
      right: calc(-1 * var(--space-unit));
      left: inherit;
      width: 2px;
      height: auto;
    }
  }
}
