@use "../theme/tokens" as tokens;

.fusion-ui {
  .accordion,
  .accordion_filled,
  &.accordion,
  &.accordion_filled {
    width: 100%;
    margin-bottom: calc(2 * var(--space-unit));
  }

  .accordion_filled,
  &.accordion_filled {
    box-shadow: tokens.shadow(base);
    border-radius: var(--space-unit);
    overflow: hidden;
  }

  .accordion-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: inherit;
    gap: calc(2 * var(--space-unit));

    width: 100%;
    height: calc(7 * var(--space-unit));
    padding: calc(2 * var(--space-unit)) calc(8 * var(--space-unit))
      calc(2 * var(--space-unit)) calc(3 * var(--space-unit));

    background: var(--color-neutral-0);
    color: var(--text-01);
    border: 0;
    border-radius: 0;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      background: var(--color-neutral-0);
    }
  }

  .accordion-header::after {
    font-family: "Material Symbols Outlined";
    content: "\e5cf";
    position: absolute;
    right: calc(3 * var(--space-unit));
    padding: calc(var(--space-unit) / 2);
    color: var(--color-primary-700);
    font-size: calc(2 * var(--space-unit));
    transition: transform 0.2s ease-in-out;
  }

  .accordion-header[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }

  .accordion-header .accordion-helper-text {
    margin-left: auto;
    color: var(--text-02);
  }

  .accordion .accordion-header {
    border-bottom: calc(var(--space-unit) / 8) solid var(--borders-dividers-01);
  }

  .accordion_filled .accordion-header[aria-expanded="true"] {
    border-bottom: calc(var(--space-unit) / 8) solid var(--borders-dividers-01);
  }

  .accordion-content {
    color: var(--text-02);
    width: 100%;
    height: auto;
    padding: calc(2 * var(--space-unit)) calc(3 * var(--space-unit));
    transition: height 0.5s linear;
  }

  .accordion .accordion-content,
  &.accordion .accordion-content {
    background: var(--backgrounds-02);
  }

  .accordion_filled .accordion-content,
  &.accordion_filled .accordion-content {
    background: var(--backgrounds-01);
  }

  // ACCORDION GROUP
  .accordion-group,
  &.accordion-group {
    .accordion_filled,
    .accordion {
      box-shadow: none;
      border-radius: 0;
      margin-bottom: 0;

      .accordion-header {
        border-bottom: calc(var(--space-unit) / 8) solid
          var(--borders-dividers-01);
      }

      .accordion-content {
        background: var(--backgrounds-02);
      }
    }
  }
}
