@use "../theme/tokens" as tokens;

$colors: "error", "success", "warning";
$sizes: "small", "large";

@mixin size($size) {
  @if $size == "small" {
    height: calc(2 * var(--space-unit));
    min-width: calc(2 * var(--space-unit));
    padding: 0 calc(0.5 * var(--space-unit));
    &:empty {
      height: calc(1 * var(--space-unit));
      width: calc(1 * var(--space-unit));
      min-width: unset;
    }
  } @else if $size == "large" {
    height: calc(3 * var(--space-unit));
    min-width: calc(3 * var(--space-unit));
    padding: 0 calc(1.5 * var(--space-unit));
    &:empty {
      height: calc(3 * var(--space-unit));
      width: calc(3 * var(--space-unit));
      min-width: unset;
    }
  }
}

@mixin badge($color: "accent", $size: "medium") {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: tokens.color("neutral", 0);
  text-transform: uppercase;
  @include tokens.text(xs);
  @include tokens.radius(3);
  @include tokens.space(height, 2.5);
  @include tokens.space(min-width, 2.5);
  background-color: tokens.color($color, 400);
  padding: 0 var(--space-unit);

  &:empty {
    height: calc(2 * var(--space-unit));
    width: calc(2 * var(--space-unit));
    min-width: unset;
  }
  @include size($size);
}

.fusion-ui {
  .badge,
  &.badge {
    @include badge("accent");
    @each $color in $colors {
      &_#{$color} {
        @include badge($color);
        @each $size in $sizes {
          &.#{$size} {
            @include size($size);
          }
          &.badge_#{$color}.#{$size} {
            @include size($size);
          }
        }
      }
      &.#{$color} {
        @include badge($color);
      }
      &.badge_#{$color} {
        @include badge($color);
        @each $size in $sizes {
          &.#{$size} {
            @include size($size);
          }
          &.badge_#{$color}.#{$size} {
            @include size($size);
          }
        }
      }
    }
    @each $size in $sizes {
      &.#{$size} {
        @include size($size);
      }
      &.badge_#{$size} {
        @include size($size);
      }
    }
  }
}
