@use "../theme/tokens" as tokens;

%breadcrumb {
  display: flex;
  align-items: center;
  text-transform: none;
  text-decoration: none;
  @include tokens.text(base);

  &:hover {
    color: var(--color-primary-600);
    text-decoration: none;
  }

  &:active {
    color: var(--color-primary-700);
  }

  &:focus-visible {
    outline: 0;
  }
}

.fusion-ui {
  .breadcrumb,
  a.breadcrumb {
    @extend %breadcrumb;
    &.active {
      font-weight: 700;
      color: var(--color-primary-700);
      pointer-events: none;
      cursor: default;
    }
  }

  .breadcrumb-separator {
    margin: auto calc(2 * var(--space-unit));
    pointer-events: none;
    cursor: default;
  }

  .breadcrumb-container,
  &.breadcrumb-container {
    width: auto;
    display: flex;
    align-items: center;
    .dropdown {
      width: auto;
      display: inline-flex;

      .dropdown-menu {
        width: auto;
        left: 0;
        .dropdown-item {
          @extend %breadcrumb;
        }
      }
    }
  }
}
