@use "../theme/tokens" as tokens;

$colors: "primary", "secondary", "success", "warning", "error";
$appearances: "outlined", "text";
$sizes: "small", "large";

%button {
  outline: 0;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tokens.radius(1);
  @include tokens.space("gap", 1);
  @include tokens.space("min-width", 20);
  @include tokens.text(base);
  text-transform: uppercase;
}

@mixin color($color) {
  color: tokens.color(neutral, 0);
  background-color: tokens.color($color);
  border: 0;
  &:hover {
    background-color: tokens.color($color, 700);
  }
  &:active {
    background-color: tokens.color($color, 800);
  }
  &:focus-visible {
    background-color: tokens.color($color, 600);
    outline: calc(var(--space-unit) / 2) solid tokens.color($color, 300);
  }
  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

@mixin appearance($variant, $color) {
  color: tokens.color($color, 500);
  background-color: tokens.color(neutral, 0);
  @if $variant == "text" {
    border: 0;
  } @else {
    border: calc(var(--space-unit) / 8) solid tokens.color($color);
  }
  &:hover {
    @if $variant == "outlined" {
      border-color: tokens.color($color, 700);
    }

    background-color: tokens.color($color, 100);
  }
  &:active {
    @if $variant == "outlined" {
      border-color: tokens.color($color, 800);
    }
    background-color: tokens.color($color, 200);
  }
  &:focus-visible {
    @if $variant == "outlined" {
      border-color: tokens.color($color, 600);
    }
    background-color: tokens.color($color, 100);
    outline: calc(var(--space-unit) / 2) solid tokens.color(secondary, 300);
  }
  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

@mixin size($size, $icon: "false") {
  @if $size == "small" {
    @if $icon == "false" {
      padding: var(--space-unit) calc(2 * var(--space-unit));
    } @else {
      padding: var(--space-unit);
    }
    height: calc(4 * var(--space-unit));
    @include tokens.text(sm);
  } @else if $size == "large" {
    @if $icon == "false" {
      padding: calc(2 * var(--space-unit)) calc(3 * var(--space-unit));
    } @else {
      padding: calc(2 * var(--space-unit));
    }
    height: calc(7 * var(--space-unit));
    @include tokens.text(lg);
  } @else {
    @if $icon == "false" {
      padding: var(--space-unit) calc(3 * var(--space-unit));
    } @else {
      padding: var(--space-unit);
    }
    height: calc(5 * var(--space-unit));
    @include tokens.text(base);
  }
}

@mixin button($color: "primary", $appearance: "filled", $size: "medium") {
  @extend %button;
  @include color($color);
  @if $appearance != "filled" {
    @include appearance($appearance, $color);
  }
  @include size($size);

  &.small {
    @include size(small);
  }
  &.large {
    @include size(large);
  }
}

.fusion-ui {
  .button,
  &.button {
    @include button("primary");

    @each $color in $colors {
      &_#{$color} {
        @include button($color);
        @each $appearance in $appearances {
          &_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size);
              }
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
          }
          &.#{$appearance} {
            @include button($color, $appearance);
          }
          &.button_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size);
              }
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
          }
        }

        @each $size in $sizes {
          &_#{$size} {
            @include button($color, filled, $size);
          }
          &.#{$size} {
            @include button($color, filled, $size);
          }
          &.button_#{$size} {
            @include button($color, filled, $size);
          }
        }
      }

      &.#{$color} {
        @include button($color);
        @each $appearance in $appearances {
          &.#{$appearance} {
            @include button($color, $appearance);
          }
          &.button_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
          }
          @each $size in $sizes {
            &.#{$size} {
              @include button($color, $appearance, $size);
            }
            &.button_#{$size} {
              @include button($color, $appearance, $size);
            }
          }
        }
      }
    }

    @each $size in $sizes {
      &_#{$size} {
        @include size($size);
      }
      &.#{$size} {
        @include size($size);
      }
    }
  }

  input[type="button"],
  input[type="submit"],
  button {
    @include button("primary");

    @each $color in $colors {
      &.#{$color} {
        @include button($color);
      }
      @each $appearance in $appearances {
        &.#{$appearance} {
          @include button($color, $appearance);
        }
      }
    }

    @each $size in $sizes {
      &.#{$size} {
        @include size($size);
      }
    }

    &.button {
      @include button("primary");

      @each $color in $colors {
        &_#{$color} {
          @include button($color);
          @each $appearance in $appearances {
            &_#{$appearance} {
              @include button($color, $appearance);
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size);
                }
              }
            }
            &.#{$appearance} {
              @include button($color, $appearance);
            }
            &.button_#{$appearance} {
              @include button($color, $appearance);
              @each $size in $sizes {
                &_#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size);
                }
              }
            }
          }

          @each $size in $sizes {
            &_#{$size} {
              @include button($color, filled, $size);
            }
            &.#{$size} {
              @include button($color, filled, $size);
            }
            &.button_#{$size} {
              @include button($color, filled, $size);
            }
          }
        }

        &.#{$color} {
          @include button($color);
          @each $appearance in $appearances {
            &.#{$appearance} {
              @include button($color, $appearance);
            }
            &.button_#{$appearance} {
              @include button($color, $appearance);
              @each $size in $sizes {
                &.#{$size} {
                  @include button($color, $appearance, $size);
                }
                &.button_#{$size} {
                  @include button($color, $appearance, $size);
                }
              }
            }
            @each $size in $sizes {
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
          }
        }
      }

      @each $size in $sizes {
        &_#{$size} {
          @include size($size);
        }
        &.#{$size} {
          @include size($size);
        }
      }
    }
  }
}

input[type="button"].fusion-ui,
input[type="submit"].fusion-ui,
button.fusion-ui {
  @include button("primary");

  @each $color in $colors {
    &.#{$color} {
      @include button($color);
    }
    @each $appearance in $appearances {
      &.#{$appearance} {
        @include button($color, $appearance);
      }
    }
  }

  @each $size in $sizes {
    &.#{$size} {
      @include size($size);
    }
  }

  &.button {
    @include button("primary");

    @each $color in $colors {
      &_#{$color} {
        @include button($color);
        @each $appearance in $appearances {
          &_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size);
              }
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
          }
          &.#{$appearance} {
            @include button($color, $appearance);
          }
          &.button_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &_#{$size} {
                @include button($color, $appearance, $size);
              }
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
          }
        }

        @each $size in $sizes {
          &_#{$size} {
            @include button($color, filled, $size);
          }
          &.#{$size} {
            @include button($color, filled, $size);
          }
          &.button_#{$size} {
            @include button($color, filled, $size);
          }
        }
      }

      &.#{$color} {
        @include button($color);
        @each $appearance in $appearances {
          &.#{$appearance} {
            @include button($color, $appearance);
          }
          &.button_#{$appearance} {
            @include button($color, $appearance);
            @each $size in $sizes {
              &.#{$size} {
                @include button($color, $appearance, $size);
              }
              &.button_#{$size} {
                @include button($color, $appearance, $size);
              }
            }
          }
          @each $size in $sizes {
            &.#{$size} {
              @include button($color, $appearance, $size);
            }
            &.button_#{$size} {
              @include button($color, $appearance, $size);
            }
          }
        }
      }
    }

    @each $size in $sizes {
      &_#{$size} {
        @include size($size);
      }
      &.#{$size} {
        @include size($size);
      }
    }
  }
}
