%button {
  outline: 0;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $unit;
  min-width: calc(20 * $unit);

  & > svg.left,
  & > .material-icons.left,
  & > .spinner.left {
    margin-right: $unit;
  }

  & > svg.right,
  & > .material-icons.right,
  & > .spinner.right {
    margin-left: $unit;
  }
}

%button-primary-styles {
  color: var(--text-buttons-default-inverse);
  background-color: var(--backgrounds-buttons-enabled);
  border: 0;
  &:hover {
    background-color: var(--backgrounds-buttons-hover);
  }
  &:active {
    background-color: var(--backgrounds-buttons-pressed-01);
  }
  &:focus-visible {
    background-color: var(--backgrounds-buttons-focused);
    outline: calc($unit / 2) solid var(--borders-dividers-buttons-focused);
  }
  &:disabled {
    background-color: var(--backgrounds-buttons-disabled);
    pointer-events: none;
  }
}

%button-secondary-styles {
  color: var(--text-buttons-default);
  background-color: var(--backgrounds-01);
  border: calc($unit / 8) solid var(--borders-dividers-buttons-enabled);
  &:hover {
    border: calc($unit / 8) solid var(--borders-dividers-buttons-hover);
    background-color: var(--backgrounds-01);
  }
  &:active {
    border: calc($unit / 8) solid var(--borders-dividers-buttons-pressed);
    background-color: var(--backgrounds-buttons-pressed-02);
  }

  &:focus-visible {
    border: calc($unit / 8) solid var(--backgrounds-01);
    outline: calc($unit / 2) solid var(--borders-dividers-buttons-focused);
  }

  &:disabled {
    color: var(--text-buttons-disabled);
    border: calc($unit / 8) solid var(--borders-dividers-buttons-disabled);
    background-color: var(--backgrounds-01);
    pointer-events: none;
  }
}

%button-cta-styles {
  color: var(--text-cta-default);
  background-color: var(--backgrounds-action-cta-enabled);
  border: 0;
  &:hover {
    background-color: var(--backgrounds-action-cta-hover);
  }
  &:active {
    background-color: var(--backgrounds-action-cta-pressed);
  }
  &:focus-visible {
    background-color: var(--backgrounds-action-cta-focused);
    outline: calc($unit / 2) solid var(--borders-dividers-cta-focused);
  }
  &:disabled {
    background-color: var(--backgrounds-action-cta-disabled);
    pointer-events: none;
    .material-icons {
      color: var(--icons-buttons-default);
    }
  }
  .spinner::after {
    border-top-color: var(--borders-dividers-cta-focused);
    border-left-color: var(--borders-dividers-cta-focused);
  }
}

%button-primary_success {
  background-color: var(--surface-feedback-success);
  color: var(--text-buttons-default);
  pointer-events: none;
}

%button-primary_selected {
  background-color: var(--backgrounds-buttons-disabled);
  color: var(--text-buttons-default);
  pointer-events: none;
}

%button-primary_loading {
  pointer-events: none;
  .spinner {
    width: calc(2 * $unit);
    height: calc(2 * $unit);
  }
}

%button-secondary_success {
  border: calc($unit / 8) solid var(--borders-dividers-success);
  pointer-events: none;
}

%button-secondary_selected {
  border: calc($unit / 8) solid var(--borders-dividers-interactive-disabled);
  pointer-events: none;
}

%button-secondary_loading {
  pointer-events: none;
  .spinner {
    width: calc(2 * $unit);
    height: calc(2 * $unit);
  }
}

%button_large {
  @extend %button-font_large;
  @extend %icon;
  padding: calc(2 * $unit) calc(3 * $unit);
  height: calc(7 * $unit);
  // &:has(.material-icons:not(.left, .right)),
  // &:has(.spinner:not(.left, .right)) {
  //   @extend %button-icon_large;
  // }
}

%button_medium {
  @extend %button-font_medium;
  @extend %icon;
  padding: $unit calc(3 * $unit);
  height: calc(5 * $unit);

  // &:has(.material-icons:not(.left, .right)),
  // &:has(.spinner:not(.left, .right)) {
  //   @extend %button-icon;
  // }
}

%button_small {
  @extend %button-font_small;
  @extend %icon_small;
  padding: $unit calc(2 * $unit);
  height: calc(4 * $unit);

  // &:has(.material-icons:not(.left, .right)),
  // &:has(.spinner:not(.left, .right)) {
  //   @extend %button-icon_small;
  // }
}

%button-icon {
  @extend %button-font_medium;
  @extend %icon;
  min-width: calc(5 * $unit);
  height: calc(5 * $unit);
  padding: $unit;
}

%button-icon_small {
  @extend %button-font_small;
  @extend %icon_small;
  min-width: calc(4 * $unit);
  height: calc(4 * $unit);
  padding: $unit;
}

%button-icon_large {
  @extend %button-font_large;
  @extend %icon;
  min-width: calc(7 * $unit);
  height: calc(7 * $unit);
  padding: calc(2 * $unit);
}

%button-icon_interactive {
  @extend %button;
  @extend %icon;
  background-color: inherit;
  color: var(--icons-02);
  border: calc($unit / 8) solid transparent;

  min-width: calc(4 * $unit);
  width: calc(4 * $unit);
  height: calc(4 * $unit);
  padding: calc($unit / 2);

  // &:has(.material-icons:not(.left, .right)),
  // &:has(.spinner:not(.left, .right)) {
  //   min-width: calc(4 * $unit);
  //   width: calc(4 * $unit);
  //   height: calc(4 * $unit);
  //   padding: calc($unit / 2);
  // }

  &:hover {
    color: var(--icons-01);
    background-color: var(--backgrounds-02);
    border: calc($unit / 8) solid var(--borders-dividers-interactive-hover);
  }

  &:active {
    color: var(--icons-01);
    background-color: var(--backgrounds-03);
  }

  &:focus-visible {
    outline: calc($unit / 2) solid var(--borders-dividers-interactive-focused);
  }

  &:disabled {
    color: var(--icons-03);
    pointer-events: none;
  }
}

%icon_success {
  svg,
  .material-icons {
    color: var(--icons-feedback-success);
  }
}

%icon_selected {
  svg,
  .material-icons {
    color: var(--icons-buttons-default);
  }
}

%icon {
  svg,
  .material-icons {
    font-size: calc(3 * $unit);
  }
}

%icon_small {
  svg,
  .material-icons {
    font-size: calc(2 * $unit);
  }
}

@mixin button($type: "primary", $icon: "false") {
  @extend %button;
  @if $icon == "false" {
    @extend %button_medium;
  } @else {
    @extend %button-icon;
  }
  @if $type == "secondary" {
    @extend %button-secondary-styles;

    &.success,
    &.selected,
    &.loading {
      @extend %button-secondary-styles;
    }

    &_loading,
    &_success,
    &_selected {
      @extend %button;
      @extend %button-secondary-styles;
      @extend %button_medium;
    }
    &_loading {
      @extend %button-secondary_loading;
    }
    &_success {
      @extend %button-secondary_success;
      @extend %icon_success;
    }
    &_selected {
      @extend %button-secondary_selected;
      @extend %icon_selected;
    }

    &_small,
    &_large {
      @extend %button;
      @extend %button-secondary-styles;

      &_loading,
      &_success,
      &_selected {
        @extend %button;
        @extend %button-secondary-styles;
      }
      &_loading {
        @extend %button-secondary_loading;
      }
      &_success {
        @extend %button-secondary_success;
        @extend %icon_success;
      }
      &_selected {
        @extend %button-secondary_selected;
      }
      &.selected {
        @extend %button-secondary-styles;
        @extend %button-secondary_selected;
        @extend %icon_selected;
      }
      &.success {
        @extend %button-secondary_success;
        @extend %button-secondary-styles;
        @extend %icon_success;
      }
    }
    &_small {
      @if $icon == "false" {
        @extend %button_small;
        &_loading,
        &_success,
        &_selected {
          @extend %button_small;
        }
      } @else {
        @extend %button-icon_small;
        &_loading,
        &_success,
        &_selected {
          @extend %button-icon_small;
        }
      }
    }

    &_large {
      @if $icon == "false" {
        @extend %button_large;
        &_loading,
        &_success,
        &_selected {
          @extend %button_large;
        }
      } @else {
        @extend %button_large;
        &_loading,
        &_success,
        &_selected {
          @extend %button_large;
        }
      }
    }

    &.success {
      @extend %button-secondary_success;
      @extend %icon_success;
    }
    &.selected {
      @extend %button-secondary_selected;
      @extend %icon_selected;
    }
    &.loading {
      @extend %button-secondary_loading;
    }
  } @else if ($type == "cta") {
    @extend %button-cta-styles;

    &.loading {
      @extend %button-cta-styles;
    }

    &_loading {
      @extend %button;
      @extend %button-cta-styles;
      @extend %button_medium;
    }
    &_loading {
      @extend %button-primary_loading;
    }

    &_small,
    &_large {
      @extend %button;
      @extend %button-cta-styles;
      .material-icons {
        color: var(--icons-buttons-default-inverse);
      }

      &_loading {
        @extend %button;
        @extend %button-cta-styles;
      }
      &_loading {
        @extend %button-primary_loading;
      }
    }
    &_small {
      @if $icon == "false" {
        @extend %button_small;
        &_loading {
          @extend %button_small;
        }
      } @else {
        @extend %button-icon_small;
        &_loading {
          @extend %button-icon_small;
        }
      }
    }

    &_large {
      @if $icon == "false" {
        @extend %button_large;
        &_loading {
          @extend %button_large;
        }
      } @else {
        @extend %button-icon_large;
        &_loading {
          @extend %button-icon_large;
        }
      }
    }
    &.loading {
      @extend %button-primary_loading;
    }
  } @else if($type == "interactive") {
    @extend %button-icon_interactive;
  } @else {
    @extend %button-primary-styles;

    &_loading,
    &_success,
    &_selected {
      @extend %button;
      @extend %button-primary-styles;
      @extend %button_medium;
    }
    &_loading {
      @extend %button-primary_loading;
    }
    &_success {
      @extend %button-primary_success;
      @extend %icon_success;
    }
    &_selected {
      @extend %button-primary_selected;
      @extend %icon_selected;
    }

    &_small,
    &_large {
      @extend %button;
      @extend %button-primary-styles;

      &_loading,
      &_success,
      &_selected {
        @extend %button;
        @extend %button-primary-styles;
      }
      &_loading {
        @extend %button-primary_loading;
      }
      &_success {
        @extend %button-primary_success;
        @extend %icon_success;
      }
      &_selected {
        @extend %button-primary_selected;
      }
    }
    &_small {
      @if $icon == "false" {
        @extend %button_small;
        &_loading,
        &_success,
        &_selected {
          @extend %button_small;
        }
      } @else {
        @extend %button-icon_small;
        &_loading,
        &_success,
        &_selected {
          @extend %button-icon_small;
        }
      }
    }

    &_large {
      @if $icon == "false" {
        @extend %button_large;
        &_loading,
        &_success,
        &_selected {
          @extend %button_large;
        }
      } @else {
        @extend %button-icon_large;
        &_loading,
        &_success,
        &_selected {
          @extend %button-icon_large;
        }
      }
    }

    &.success {
      @extend %button-primary_success;
      @extend %icon_success;
    }
    &.selected {
      @extend %button-primary_selected;
    }
    &.loading {
      @extend %button-primary_loading;
    }
  }

  &.small {
    @if $icon == "false" {
      @extend %button_small;
    } @else {
      @extend %button-icon_small;
    }
  }
  &.large {
    @if $icon == "false" {
      @extend %button_large;
    } @else {
      @extend %button-icon_large;
    }
  }
}

.stepone-ui {
  .button,
  &.button,
  .button-primary,
  &.button-primary {
    @include button("primary");
  }

  .button-icon,
  &.button-icon,
  .button-icon-primary,
  &.button-icon-primary {
    @include button("primary", "true");
  }

  .button-secondary,
  &.button-secondary {
    @include button("secondary");
  }

  .button-icon-secondary,
  &.button-icon-secondary {
    @include button("secondary", "true");
  }

  .button-cta,
  &.button-cta {
    @include button("cta");
    .material-icons {
      color: var(--icons-buttons-default-inverse);
    }
  }
  .button-icon-cta,
  &.button-icon-cta {
    @include button("cta", "true");
    .material-icons {
      color: var(--icons-buttons-default-inverse);
    }
  }

  .button-interactive,
  &.button-interactive {
    @include button("interactive");
  }

  input[type="button"],
  input[type="submit"],
  button {
    @extend %button;
    @extend %button-primary-styles;
    @extend %button_medium;
    &.small {
      @extend %button_small;
    }
    &.large {
      @extend %button_large;
    }
    &.success {
      @extend %button-primary_success;
      @extend %icon_success;
    }
    &.selected {
      @extend %button-primary_selected;
    }
    &.loading {
      @extend %button-primary_loading;
    }

    &.button,
    &.button-primary {
      @include button("primary");
    }
    &.button-icon,
    &.button-icon-primary {
      @include button("primary", "true");
    }
    &.button-secondary {
      @include button("secondary");
    }
    &.button-icon-secondary {
      @include button("secondary", "true");
    }
    &.button-cta {
      @include button("cta");
      .material-icons {
        color: var(--icons-buttons-default-inverse);
      }
    }
    &.button-icon-cta {
      @include button("cta", "true");
      .material-icons {
        color: var(--icons-buttons-default-inverse);
      }
    }
    &.button-interactive {
      @include button("interactive");
    }
  }

  input[type="button"].stepone-ui,
  input[type="submit"].stepone-ui,
  button.stepone-ui {
    @extend %button;
    @extend %button-primary-styles;
    @extend %button_medium;
    &.small {
      @extend %button_small;
    }
    &.large {
      @extend %button_large;
    }
    &.success {
      @extend %button-primary_success;
    }
    &.selected {
      @extend %button-primary_selected;
    }
    &.loading {
      @extend %button-primary_loading;
    }

    &.button,
    &.button-primary {
      @include button("primary");
    }
    &.button-icon,
    &.button-icon-primary {
      @include button("primary", "true");
    }
    &.button-secondary {
      @include button("secondary");
    }
    &.button-icon-secondary {
      @include button("secondary", "true");
    }
    &.button-cta {
      @include button("cta");
      .material-icons {
        color: var(--icons-buttons-default-inverse);
      }
    }
    &.button-icon-cta {
      @include button("cta", "true");
      .material-icons {
        color: var(--icons-buttons-default-inverse);
      }
    }
    &.button-interactive {
      @include button("interactive");
    }
  }
}
