%chip {
  cursor: pointer;
  position: relative;
  @extend %tag-font;
  color: var(--text-surface-primary);
  padding: var(--space-unit) calc(2 * var(--space-unit));
  background-color: var(--surface-secondary);
  border: calc(var(--space-unit) / 8) solid
    var(--borders-dividers-interactive-enabled);
  border-radius: var(--space-unit);
  white-space: nowrap;
  max-height: calc(4 * var(--space-unit));
  min-width: calc(8 * var(--space-unit));
  text-align: center;
  &:has(.material-icons.left) {
    padding: var(--space-unit) calc(2 * var(--space-unit)) var(--space-unit)
      calc(3.5 * var(--space-unit));
    height: auto;
  }
  &:has(.material-icons.right) {
    padding: var(--space-unit) calc(3.5 * var(--space-unit)) var(--space-unit)
      calc(2 * var(--space-unit));
    height: auto;
  }

  &:has(.material-icons.left ~ .material-icons.right) {
    padding: var(--space-unit) calc(3.5 * var(--space-unit)) var(--space-unit)
      calc(3.5 * var(--space-unit));
    height: auto;
  }

  svg,
  i,
  span.material-icons {
    font-size: calc(2 * var(--space-unit));
    &.left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: var(--space-unit);
      margin: 0;
    }

    &.right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: var(--space-unit);
      margin: 0;
    }
  }

  &:hover {
    background-color: var(--background-interactive);
    border: calc(var(--space-unit) / 8) solid
      var(--borders-dividers-interactive-hover);
  }
  &:focus-visible {
    background-color: var(--background-interactive);
    outline: calc(var(--space-unit) / 2) solid
      var(--borders-dividers-interactive-focused);
    border: calc(var(--space-unit) / 8) solid
      var(----background-interactive);
  }
  &:active {
    background-color: var(--background-interactive-pressed);
    border: calc(var(--space-unit) / 8) solid
      var(--borders-dividers-interactive-pressed);
  }
  &:disabled {
    pointer-events: none;
    background-color: var(--surface-secondary);
    border: calc(var(--space-unit) / 8) solid var(--surface-secondary);
    color: var(--text-interactive-link-on-light-disabled);
  }
}

.fusion-ui {
  .chip,
  &.chip {
    @extend %chip;

    &_active,
    &_disabled,
    &_active_disabled {
      @extend %chip;
    }

    &.active,
    &_active {
      background-color: var(--background-interactive-selected);
      border: calc(var(--space-unit) / 8) solid
        var(--background-interactive-selected);
      &:hover {
        background-color: var(--background-interactive-selected);
        border: calc(var(--space-unit) / 8) solid
          var(--borders-dividers-interactive-hover);
      }
      &:focus-visible {
        outline: calc(var(--space-unit) / 2) solid
          var(--borders-dividers-interactive-focused);
        border: calc(var(--space-unit) / 8) solid
          var(--background-interactive-selected);
      }
      &:active {
        background-color: var(--background-interactive-selected);
        border: calc(var(--space-unit) / 8) solid
          var(--borders-dividers-interactive-pressed);
      }
      &:disabled {
        pointer-events: none;
        background-color: var(--backgrounds-interactive-selected-01);
        border: calc(var(--space-unit) / 8) solid
          var(--backgrounds-interactive-selected-01);
        color: var(--text-interactive-link-on-light-disabled);
      }
    }
    &.disabled,
    &_disabled {
      pointer-events: none;
      background-color: var(--surface-secondary);
      border: calc(var(--space-unit) / 8) solid var(--surface-secondary);
      color: var(--text-interactive-link-on-light-disabled);
    }
    &.active.disabled,
    &_active_disabled {
      pointer-events: none;
      background-color: var(--backgrounds-interactive-selected-01);
      border: calc(var(--space-unit) / 8) solid
        var(--backgrounds-interactive-selected-01);
      color: var(--text-interactive-link-on-light-disabled);
    }
  }

  .chips-group,
  &.chips-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--space-unit);

    .chip-item {
      &:last-child {
        border: 0;
      }
      padding: var(--space-unit);
      border-right: calc(var(--space-unit) / 8) solid
        var(--borders-dividers-interactive-disabled);

      .chip {
        flex: 1;
        height: 100%;

        &_active,
        &_disabled,
        &_active_disabled {
          flex: 1;
          height: 100%;
        }
      }
    }
  }
}
