.fusion-ui {
  .empty-state {
    text-align: left;
    & button {
      margin-top: calc(4 * var(--space-unit));
    }
    .empty-state-title {
      margin: var(--space-unit) 0;
    }

    a {
      margin-top: calc(3 * var(--space-unit));
    }
  }
}
