.fusion-ui {
  .empty-state {
    text-align: left;
    & button {
      margin-top: calc(4 * $unit);
    }
    .empty-state-title {
      margin: $unit 0;
    }

    a {
      margin-top: calc(3 * $unit);
    }
  }
}
