.fusion-ui {
  .filtered-search,
  &.filtered-search {
    .filtered-search-top {
      width: 100%;
      display: flex;
      align-items: center;
      gap: calc(2 * var(--space-unit));
      padding: calc(2 * var(--space-unit)) calc(4 * var(--space-unit));
      .input-wrapper {
        margin-bottom: 0;
      }
    }

    .filtered-search-filter-container {
      width: 100%;
      margin-top: calc(4 * var(--space-unit));
      background-color: var(--surface-secondary);
      padding: calc(2 * var(--space-unit)) calc(10 * var(--space-unit));
      position: relative;

      & > .filtered-search-filter-navigation_left {
        @extend %button-icon_interactive;
        height: calc(4 * var(--space-unit));
        width: calc(4 * var(--space-unit));
        border-radius: 50%;
        background-color: var(--surface-primary);
        position: absolute;
        transform: translateY(10%);
        left: calc(4 * var(--space-unit));
      }

      & > .filtered-search-filter-navigation_right {
        @extend %button-icon_interactive;
        position: absolute;
        right: calc(4 * var(--space-unit));
        transform: translateY(-110%);
        height: calc(4 * var(--space-unit));
        width: calc(4 * var(--space-unit));
        border-radius: 50%;
        background-color: var(--surface-primary);
      }

      & > .filtered-searc-filter-container-inner {
        display: flex;
        gap: calc(2 * var(--space-unit));
        align-items: center;
        width: 100%;
        overflow-x: hidden;
        overflow-y: visible;
      }
    }

    @include breakpoint("mobile") {
      .filtered-search-top {
        flex-direction: column;
        & > * {
          width: 100%;
        }
        .filtered-search-toggle {
          margin: auto;
        }
      }
      .filtered-search-filter-container {
        padding: calc(2 * var(--space-unit)) calc(4 * var(--space-unit));

        .filtered-searc-filter-container-inner {
          overflow-x: scroll;
        }
      }
    }
  }
}
