%footer-item {
  @include font(medium);
  color: var(--text-01);
  text-transform: none;
}
.fusion-ui {
  .footer-container,
  &.footer-container {
    background-color: var(--backgrounds-03);
    padding: calc(10 * $unit) calc(18 * $unit);
    a {
      margin-top: 0;
      color: var(--text-01);
    }
  }

  .footer-header,
  .footer-bottom {
    display: flex;
    gap: calc(6 * $unit);
    @extend %footer-item;
  }

  .footer-brand {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
  }

  .footer-logo {
    max-width: calc(10 * $unit);
  }

  .footer-container hr {
    background-color: var(--borders-dividers-02);
  }

  .footer-brand {
    @extend %footer-item;
    color: var(--text-03);
  }

  .bg04,
  &.bg04 {
    .footer-container,
    &.footer-container {
      background-color: var(--backgrounds-04);
      *:not(.footer-brand) {
        color: var(--text-inverse);
      }
      .footer-header,
      .footer-bottom {
        gap: calc(4 * $unit);
      }
    }
  }

  @include breakpoint("mobile") {
    .footer-container,
    &.footer-container {
      padding: calc(4 * $unit) calc(2 * $unit) calc(3 * $unit);
      width: 100%;
      .footer-header,
      .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .footer-brand {
          order: 100;
        }
      }
    }
  }
}
