.fusion-ui {
  //DEFAULT
  .hero-container,
  &.hero-container,
  .hero-container_accent,
  &.hero-container_accent,
  .hero-container_banner,
  &.hero-container_banner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
  }

  .hero-container,
  &.hero-container {
    background: var(--backgrounds-02);
  }

  //ACCENT
  .hero-container_accent,
  &.hero-container_accent {
    background: var(--backgrounds-accent);
    .hero-body {
      color: var(--text-on-accent);
    }
    .avatar-subtitle {
      color: var(--text-on-accent);
    }
  }

  .hero-header {
    flex: 0 1 auto;
  }

  .hero-body {
    flex: 0 1 auto;
    color: var(--text-02);
    @include font(base);
  }

  .hero-footer {
    flex: 0 1 auto;
    margin-top: auto;

    .hero-footer-items {
      display: flex;
      gap: calc(3 * $unit);
    }
  }

  .hero-background {
    object-fit: cover;
    width: 50%;
    background: var(--backgrounds-02);
  }

  .hero-back {
    @extend .link;
    position: absolute;
    top: calc(5 * $unit);
    left: calc(10 * $unit);
    color: var(--text-01);
  }

  .hero-content,
  .hero-content_search,
  .hero-content_interior {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: calc(2 * $unit);
    flex: 1;
    padding: calc(15 * $unit) calc(7 * $unit) calc(7 * $unit) calc(18 * $unit);
  }

  //SEARCH
  .hero-content_search {
    gap: calc(5 * $unit);
    .hero-body {
      display: flex;
      align-items: flex-end;
      gap: calc(2 * $unit);
    }
  }

  //INTERIOR
  .hero-content_interior {
    padding: calc(11 * $unit) calc(6 * $unit) calc(11 * $unit) calc(10 * $unit);
  }

  //BANNER
  .hero-container_banner,
  &.hero-container_banner {
    .hero-content {
      z-index: 1;
    }
    .hero-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  @include breakpoint("mobile") {
    .hero-container,
    &.hero-container,
    .hero-container_accent,
    &.hero-container_accent {
      width: 100vw;
      height: 100vh;
      flex-direction: column;
    }

    .hero-content,
    .hero-content_search {
      z-index: 1;
      width: 100%;
      height: 100%;
      background: #49566766;
      padding: calc(6 * $unit) calc(2 * $unit) calc(4 * $unit);
      color: var(--text-inverse);
      .hero-body {
        color: var(--text-inverse);
      }
      & + .hero-background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    //SEARCH
    .hero-content_search {
      .hero-header,
      .hero-footer {
        text-align: center;
        .hero-footer-items {
          justify-content: center;
        }
      }
      .hero-body {
        flex-direction: column;
        align-items: center;
        > * {
          width: 100%;
        }
      }
    }

    //INTERIOR
    .hero-content_interior {
      order: 1;
      padding: calc(10 * $unit) calc(2 * $unit) calc(7 * $unit);

      .hero-back {
        top: calc(5 * $unit);
        left: calc(2 * $unit);
      }
      & + .hero-background {
        order: 0;
        width: 100%;
        height: auto;
      }
    }

    //BANNER
    .hero-container_banner {
      .hero-content {
        padding: calc(2 * $unit);
      }
    }
  }
}
