%list_unordered {
  list-style: disc;
  appearance: none;
  padding: $unit $unit 0 calc(3 * $unit);
  ul,
  .list,
  .list_small {
    list-style: circle;
    appearance: none;
    ul,
    .list,
    .list_small {
      list-style: none;
      li:before {
        position: absolute;
        font-family: "Material Icons";
        font-size: calc(2 * $unit);
        content: "\f108";
        left: calc($minus * 3 * $unit);
      }
    }
  }
}

.fusion-ui {
  ul,
  .list,
  &.list,
  .list_small,
  &.list_small {
    @extend %list_unordered;
  }

  li {
    padding: 0;
    position: relative;
    & + li {
      margin-top: $unit;
    }
  }

  ul.small,
  .list_small,
  &.list_small,
  .list-icon_small,
  &.list-icon_small {
    li {
      @include font(small);
      position: relative;
    }
  }

  ol,
  .list-ordered,
  &.list-ordered {
    list-style: decimal-leading-zero;
    padding: $unit $unit $unit calc(3 * $unit);
  }
  ol.small li,
  .list-ordered_small li,
  &.list-ordered_small li {
    @include font(small);
    position: relative;
  }

  .list-icon,
  &.list-icon {
    list-style: none;
    .icon-order {
      position: absolute;
      font-size: calc(2 * $unit);
      left: calc($minus * 3 * $unit);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .list-icon_small,
  &.list-icon_small {
    @extend .list-icon;
  }

  .item-subtitle,
  .item-subtitle_disabled {
    .subtitle {
      display: block;
      @include font(small);
      color: var(--icons-02);
    }
    .icon-order {
      top: 50%;
      transform: translateY(-100%);
    }
  }

  .item-double,
  .item-double_disabled {
    span:not(.material-icons) {
      margin-left: calc(2 * $unit);
      float: right;
      color: var(--text-02);
    }
  }

  ul.small,
  .list-icon.small,
  &.list-icon.small,
  .list-icon_small,
  &.list-icon_small {
    .item-subtitle .icon-order {
      top: 50%;
      transform: translateY(-100%);
    }
  }

  .item-condensed,
  .item-condensed_disabled {
    position: relative;
    padding-right: calc(4 * $unit);
    button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      appearance: none;
      outline: none;

      background-color: inherit;
      color: var(--text-02);
      &:has(.material-icons:not(.left, .right)) {
        width: calc(2 * $unit);
        height: calc(2 * $unit);
        min-width: auto;
        min-height: auto;
        padding: 0;
      }
      border-radius: 50%;
      border: 0;
      &:disabled {
        color: var(--text-03);
        pointer-events: none;
      }
      &:hover {
        color: var(--icons-01);
      }
      &:active {
        background-color: var(--backgrounds-03);
      }
      &:focus-visible {
        outline: calc($unit / 2) solid var(--borders-dividers-interactive-focused);
      }

      span,
      svg,
      i,
      img {
        font-size: calc(2 * $unit);
      }
    }
  }

  .item-condensed.item-subtitle,
  .item-subtitle.item-condensed,
  .item-subtitle_disabled.item-condensed,
  .item-condensed.item-subtitle_disabled,
  .item-subtitle.item-condensed_disabled,
  .item-condensed_disabled.item-subtitle,
  .item-subtitle_disabled.item-condensed_disabled,
  .item-condensed_disabled.item-subtitle_disabled {
    button {
      top: 50%;
      transform: translateY(-100%);
    }
  }

  ul.small,
  .list.small,
  &.list.small,
  .list_small,
  &.list_small,
  .list-icon.small,
  &.list-icon.small,
  .list-icon_small,
  &.list-icon_small,
  ol.small,
  .list-ordered.small,
  &.list-ordered.small,
  .list-ordered_small,
  &.list-ordered_small {
    .item-condensed.item-subtitle,
    .item-subtitle.item-condensed,
    .item-subtitle_disabled.item-condensed,
    .item-condensed.item-subtitle_disabled,
    .item-subtitle.item-condensed_disabled,
    .item-condensed_disabled.item-subtitle,
    .item-subtitle_disabled.item-condensed_disabled,
    .item-condensed_disabled.item-subtitle_disabled {
      button {
        top: 50%;
        transform: translateY(-100%);
      }
    }
  }

  .item-condensed_disabled {
    button {
      color: var(--text-03);
      pointer-events: none;
    }
  }

  li.disabled,
  .item-subtitle_disabled,
  .item-double_disabled,
  .item-condensed_disabled {
    color: var(--text-03);
    .icon-order {
      color: var(--text-03);
    }
    .subtitle {
      color: var(--text-03);
    }
    span:not(.material-icons) {
      color: var(--text-03);
    }
  }
}
