.fusion-ui {
  .navigation,
  &.navigation {
    width: 100%;
    height: calc(14 * $unit);
    background: var(--backgrounds-02);
    padding: 0 calc(19 * $unit) calc(9 * $unit) calc(19 * $unit);
    display: flex;
    align-items: center;
    gap: calc(2 * $unit);
    position: relative;
  }

  .navigation .navigation-item,
  &.navigation .navigation-item,
  .navigation .navigation-search,
  &.navigation .navigation-search,
  .navigation .navigation-language,
  &.navigation .navigation-language {
    @extend %link-font_big;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: var(--text-01);
    .dropdown-button {
      display: flex;
      align-items: center;
    }
  }

  .navigation .navigation-language,
  &.navigation .navigation-language {
    .input-container {
      display: flex;
      align-items: center;
      .input {
        @extend %link-font_big;
        border: 0;
        background: inherit;
        padding: 0;
      }
      .input-icon-box {
        position: relative;
        right: auto;
        transform: none;
        top: auto;
      }
    }
  }

  .navigation .navigation-search,
  &.navigation .navigation-search {
    margin-left: auto;
  }

  .navigation .navigation-logo,
  &.navigation .navigation-logo {
    width: calc(10 * $unit);
    object-fit: contain;
    position: sticky;
    left: 0;
    background: var(--backgrounds-01);
    z-index: 1;
  }

  .navigation .navigation-bottom,
  &.navigation .navigation-bottom {
    position: absolute;
    top: calc(5 * $unit);
    left: 0;
    height: calc(9 * $unit);
    width: 100%;
    display: flex;
    gap: calc(4 * $unit);
    background: var(--backgrounds-01);
    padding: calc(2 * $unit) calc(19 * $unit);
    border-bottom: calc($unit / 8) solid var(--borders-dividers-01);
    overflow: auto;
  }

  .navigation > .dropdown,
  &.navigation > .dropdown {
    height: 100%;
    > .dropdown-button {
      height: 100%;
      white-space: nowrap;
    }
    > .dropdown-menu {
      top: calc(16 * $unit) !important;
    }
  }

  .navigation .tabs,
  &.navigation .tabs {
    order: 0;
    margin-right: auto;
    height: calc(5 * $unit);
    .tab-list {
      margin: 0;
      box-shadow: none;
      gap: 0;
    }
    .tab-list-item {
      @extend %link-font_small;
      padding: $unit calc(4 * $unit);
    }
    .tab-list-item.active {
      background: var(--backgrounds-01);
      box-shadow: none;
    }

    .tab-content {
      display: none;
    }
  }

  @include breakpoint("mobile") {
    .navigation,
    &.navigation {
      max-width: 100%;
      background: var(--backgrounds-01);
      padding: $unit calc(2 * $unit);
      height: calc(7 * $unit);
      border-bottom: 1px solid var(--borders-dividers-01);
    }

    .navigation .navigation-menu,
    &.navigation .navigation-menu {
      max-width: auto;
      margin-left: auto;
      height: auto;
      > .dropdown-button {
        height: auto;
      }
      > .dropdown-menu {
        width: 100% !important;
        max-height: calc(100% - 7 * $unit);
        left: 0 !important;
        top: calc(7 * $unit) !important;
        box-shadow: none;
        > *:not(.accordion-group) {
          border-bottom: 1px solid var(--borders-dividers-01);
        }
      }
    }

    .navigation-menu .accordion {
      width: 100%;
      box-shadow: none;

      .accordion-header {
        display: flex;
        justify-content: space-between;
        padding: calc(2 * $unit);
        color: var(--text-01);
        font-family: var(--link-big-font-family);
        font-weight: var(--link-big-font-weight);
        line-height: var(--link-big-line-height);
        font-size: var(--link-big-font-size);
        letter-spacing: var(--link-big-letter-spacing);
        text-transform: var(--link-big-text-case);
        text-decoration: var(--link-big-text-decoration);

        .accordion-icon {
          font-size: calc(3 * $unit);
          padding: 0;
          position: relative;
          top: auto;
          right: auto;
          transform: none;
          color: var(--icons-01);
        }
      }
    }

    .navigation-menu .navigation-language {
      width: 100%;

      .dropdown {
        width: 100%;
        &[data-show="true"] {
          .dropdown-button {
            background: var(--backgrounds-02);
          }
        }
      }

      .input-container {
        justify-content: space-between;
        width: 100%;
      }

      .dropdown-button {
        width: 100%;
        justify-content: space-between;
        padding: calc(2 * $unit);

        font-family: var(--link-big-font-family);
        font-weight: var(--link-big-font-weight);
        line-height: var(--link-big-line-height);
        font-size: var(--link-big-font-size);
        letter-spacing: var(--link-big-letter-spacing);
        text-transform: var(--link-big-text-case);
        text-decoration: var(--link-big-text-decoration);
      }

      .dropdown-menu:not(.hidden) {
        width: 100% !important;
        position: relative !important;
        box-shadow: none;
        top: auto !important;
        left: auto !important;
        border-radius: 0;
      }
    }

    .navigation-menu .navigation-search {
      width: 100%;
      padding: calc(2 * $unit);
      .input-container {
        width: 100%;
      }
    }
  }
}
