.fusion-ui {
  .nps,
  &.nps {
    width: calc(75 * var(--space-unit));
    .modal-header {
      margin-bottom: 0;
      text-align: center;
      & .material-icons {
        width: 100%;
        text-align: center;
        font-size: calc(10 * var(--space-unit));
      }

      .nps-header-message,
      .nps-header-title {
        font-weight: 500;
      }
    }
    .rating {
      margin: auto;
    }

    @include breakpoint("mobile") {
      max-width: unset;
      width: unset;
      max-height: unset;
      padding: calc(2 * var(--space-unit));
      .modal-header {
        text-align: center;
        &::after {
          margin-top: calc(3 * var(--space-unit));
        }
      }
      .modal-footer {
        flex-direction: column-reverse;
      }
      & > .modal-body + .modal-footer {
        margin-top: calc(3 * var(--space-unit));
      }
    }
  }

  &.modal.nps > .modal-header + .modal-body,
  .modal.nps > .modal-header + .modal-body {
    margin-top: 0;
    text-align: center;
  }
}
