%paginator-page {
  @extend %button-icon_interactive;
  border-radius: 50%;
  border-color: transparent;
  min-width: auto;
  color: var(--icons-02);
  height: calc(3 * $unit);
  width: calc(3 * $unit);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: inherit;
  }
  &:hover,
  &:focus-visible {
    color: var(--text-01);
  }
}

.tag-ds {
  .paginator,
  &.paginator {
    @include font(small);
    display: flex;
    gap: $unit;
  }

  .paginator-truncate {
    margin: 0;
    display: inline-block;
    color: var(--text-02);
  }

  button.paginator-page {
    @extend %paginator-page;
  }

  button.paginator-page_active {
    @extend %paginator-page;
    background-color: var(--backgrounds-accent);
    color: var(--text-on-accent);

    &:focus-visible {
      border: calc($unit / 8) solid var(--backgrounds-accent);
    }

    &.disabled {
      background-color: var(--backgrounds-03);
    }

    &:disabled {
      background-color: var(--backgrounds-03);
    }
  }

  .paginator-collapsed {
    display: flex;
    gap: $unit;
    align-items: center;
    color: var(--text-01);
  }

  .paginator-collapsed-dropdown {
    width: calc(11 * $unit);
    height: calc(5 * $unit);
    margin: 0;
  }

  button.paginator-icon {
    @extend %button-icon_interactive;
    &:has(.material-icons:not(.right, .left)) {
      height: calc(3 * $unit);
      width: calc(3 * $unit);
      min-width: auto;
    }
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .material-icons {
      user-select: none;
      font-size: calc(2 * $unit);
      color: var(--icons-02);
    }

    &:hover {
      border: 0;
    }

    &:disabled {
      pointer-events: none;
      & > .material-icons {
        color: var(--icons-03);
      }
    }
  }
}
