.fusion-ui {
  .progress-bar,
  &.progress-bar {
    width: auto;
    color: var(--text-surface-secondary);
    display: block;
    background: inherit;
  }

  .progress-bar_round,
  &.progress-bar_round {
    display: flex;
    align-items: center;

    .circle-svg {
      stroke: var(--background-accent);
    }
  }

  .progress-bar-progress {
    height: var(--space-unit);
    background-color: var(--surface-tertiary);
    border-radius: var(--space-unit);
    position: relative;
  }

  .progress-bar-title {
    color: var(--text-surface-primary);
    @include font(medium);
    font-weight: 500 !important;
    margin-bottom: var(--space-unit);
    text-align: left;
  }

  .progress-bar-progress-bar {
    position: absolute;
    border-radius: var(--space-unit);
    height: var(--space-unit);
    left: 0;
    top: 0;
    background-color: var(--background-accent);
    transition: width 0.3s ease-in-out;
  }

  .progress-bar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-unit);
  }

  .progress-bar-percentage {
    @include font(medium);
  }

  .progress-bar-steps {
    @include font(medium);
  }

  .svg-container_circular_big {
    position: relative;
    height: calc(10 * var(--space-unit));
    width: calc(10 * var(--space-unit));
    border-radius: 50%;
    border: var(--space-unit) solid var(--surface-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: attr(data-percentage);
    }
  }

  .svg-content {
    position: absolute;
  }

  .svg-container_circular_medium {
    position: relative;
    height: calc(6 * var(--space-unit));
    width: calc(6 * var(--space-unit));
    border-radius: 50%;
    border: calc(var(--space-unit) / 2) solid var(--surface-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: attr(data-percentage);
      @include font(small);
    }
  }

  .progress-bar-text-wrapper {
    margin-left: var(--space-unit);
    & p {
      margin: 0;
    }
  }

  .progress-bar-title {
    @include font(medium);
  }

  .progress-bar-helper {
    @include font(small);
    color: var(--text-surface-secondary);
  }

  .bg04,
  &.bg04 {
    .progress-bar-title,
    .progress-bar-helper,
    .progress-bar-steps,
    .progress-bar-percentage {
      color: var(--text-on-primary);
    }
  }
}
