.fusion-ui {
  .quote-wrapper,
  &.quote-wrapper {
    position: relative;
    width: calc(42 * $unit);
    padding: calc(7 * $unit) 0 $unit 0;
  }
  .quote {
    @extend .h3;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "\e244";
      font-family: "Material Icons Round";
      color: var(--icons-accent);
      display: flex;
      align-items: center;
      width: calc(6 * $unit);
      height: calc(6 * $unit);
      font-size: calc(6 * $unit);
    }
  }

  .avatar-wrapper {
    margin-top: calc(3 * $unit);
  }
}
