.fusion-ui {
  .quote-wrapper,
  &.quote-wrapper {
    position: relative;
    width: calc(42 * var(--space-unit));
    padding: calc(7 * var(--space-unit)) 0 var(--space-unit) 0;
  }
  .quote {
    @extend .h3;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "\e244";
      font-family: "Material Symbols Outlined Round";
      color: var(--icons-accent);
      display: flex;
      align-items: center;
      width: calc(6 * var(--space-unit));
      height: calc(6 * var(--space-unit));
      font-size: calc(6 * var(--space-unit));
    }
  }

  .avatar-wrapper {
    margin-top: calc(3 * var(--space-unit));
  }
}
