.fusion-ui {
  .rating,
  &.rating {
    width: fit-content;
    .rating-container {
      display: flex;
      gap: $unit;
      position: relative;
      width: fit-content;
      justify-content: center;
    }

    button.rating-button {
      width: calc(5 * $unit);
      height: calc(5 * $unit);
      color: var(--text-01);
      background-color: var(--backgrounds-01);
      padding: 0;
      min-width: unset;
      border: calc($unit / 16) solid var(--borders-dividers-interactive-hover);
      position: relative;
      z-index: 1;

      &:focus-visible {
        border: calc($unit / 1.6) solid var(--borders-dividers-interactive-hover);
        outline: none;
      }
      &.active {
        border: calc($unit / 1.6) solid var(--borders-dividers-interactive-hover);
      }
    }

    &-label {
      display: flex;
      justify-content: space-between;
      margin-top: $unit;
      width: 100%;
    }

    @include breakpoint("mobile") {
      .rating-container {
        gap: 0;
        width: auto;
      }
      button.rating-button {
        border-radius: 0;
        min-width: 0;
        flex-grow: 1;
        max-width: calc(4 * $unit);
        &:focus-visible {
          border-width: none;
          outline: calc($unit / (8 / 3)) solid var(--borders-dividers-interactive-hover);
          border-width: calc($unit / 8);
          border-radius: calc($unit / 2);
          z-index: 2;
        }
        &::before {
          border-radius: 0;
        }
        &:first-child,
        &:first-child::before {
          border-top-left-radius: calc($unit / 2);
          border-bottom-left-radius: calc($unit / 2);
        }
        &:last-of-type,
        &:last-of-type::before {
          border-top-right-radius: calc($unit / 2);
          border-bottom-right-radius: calc($unit / 2);
        }
        &.active {
          border-width: none;
          outline: calc($unit / (8 / 3)) solid var(--borders-dividers-interactive-hover);
          border-width: calc($unit / 8);
          border-radius: calc($unit / 2);
          z-index: 2;
        }
      }
    }
  }
  @media (max-width: 390px) {
    .rating {
      width: auto;
    }
  }
}
