::-webkit-scrollbar {
  width: var(--space-unit);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: var(--space-unit);

  &:hover {
    background-color: #ebebee;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: var(--space-unit);
  width: var(--space-unit);
  background-color: #adadb5;
}
