%thumb {
  z-index: 2;
  appearance: none;
  margin-top: -8px;
  background-color: var(--backgrounds-01);
  border: $unit solid var(--text-interactive-link-on-light-enabled);
  border-radius: 50%;
  cursor: pointer;
  height: calc(3 * $unit);
  width: calc(3 * $unit);
  pointer-events: all;
  position: relative;
  &:active {
    border: calc($unit / 2) solid var(--text-interactive-link-on-light-enabled);
  }
}

%track {
  width: 100%;
  height: $unit;
  cursor: pointer;
  animation: linear 0.2s;
  background: var(--backgrounds-03);
  border-radius: $unit;
  border: 0;
}

.stepone-ui {
  input[type="range"] {
    appearance: none;
    width: 100%;
    margin: 0;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @extend %track;
  }

  input[type="range"]::-webkit-slider-thumb {
    @extend %thumb;
  }
  input[type="range"]:disabled::-webkit-slider-thumb {
    @extend %thumb;
    cursor: default;
    pointer-events: none;
    border: $unit solid var(--icons-03);
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: $unit;
    cursor: pointer;
    animation: linear 0.2s;
    background: var(--backgrounds-03);
    border-radius: $unit;
    border: 0;
  }

  input[type="range"]::-moz-range-thumb {
    z-index: 2;
    appearance: none;
    margin-top: -8px;
    background-color: var(--backgrounds-01);
    border: $unit solid var(--text-interactive-link-on-light-enabled);
    border-radius: 50%;
    cursor: pointer;
    height: $unit;
    width: $unit;
    pointer-events: all;
    position: relative;
    &:active {
      border: calc($unit/2) solid var(--text-interactive-link-on-light-enabled);
    }
  }
  input[type="range"]:disabled::-moz-range-thumb {
    z-index: 2;
    appearance: none;
    margin-top: -8px;
    background-color: var(--backgrounds-01);
    pointer-events: none;
    border: $unit solid var(--icons-03);
    border-radius: 50%;
    cursor: pointer;
    height: $unit;
    width: $unit;
    position: relative;
  }

  .slider-wrapper,
  &.slider-wrapper {
    position: relative;
    max-width: 100%;
    min-height: calc(3 * $unit);
  }

  .slider-range {
    z-index: 1;
    position: absolute;
    top: $unit;
    height: $unit;
    border-radius: $unit;
    background-color: var(--backgrounds-secondary);
  }

  .slider-range_disabled {
    @extend .slider-range;
    background-color: var(--backgrounds-interactive-disabled);
  }

  .slider-label {
    color: var(--text-02);
    margin-top: $unit;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .tooltip.slider {
    position: absolute;
    top: 0;
    transform: translate(-50%, calc(-100% - $unit));
    width: max-content;
  }

  .slider-value-track {
    position: relative;
    display: flex;
    margin-top: calc(3 * $unit);
  }

  // DOUBLE

  .slider-input-container {
    position: absolute;
    width: 100%;
  }

  .slider-input-container + .slider-label {
    padding-top: calc(4 * $unit);
  }

  input[type="range"][data-order="max"]::-webkit-slider-thumb {
    z-index: 2;
  }

  .bg03,
  &.bg03,
  .bg04,
  &.bg04 {
    .slider-track {
      background-color: var(--backgrounds-02);
    }
  }
}

.bg03,
.bg04 {
  .stepone-ui,
  &.stepone-ui {
    .slider-track {
      background-color: var(--backgrounds-02);
    }
  }
}
