.stepone-ui {
  @include breakpoint("mobile") {
    .splash-screen,
    &.splash-screen,
    .splash-screen_accent,
    &.splash-screen_accent {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }

    .splash-screen_accent,
    &.splash-screen_accent {
      background: var(--backgrounds-accent);
    }

    .splash-screen-logo {
      position: absolute;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(15 * $unit);
      height: auto;
      aspect-ratio: 4/2;
    }

    .splash-screen-video video {
      width: 100%;
      height: 100%;
      aspect-ratio: 9/16;
    }
    .splash-screen-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
