.stepone-ui {
  .video-preview,
  &.video-preview,
  .video-preview_large,
  &.video-preview_large,
  .video-preview_small,
  &.video-preview_small {
    position: relative;
    color: var(--text-01);
    box-shadow: var(--surface-2x);
    overflow: hidden;
    border-radius: $unit;
    .status-tag {
      position: absolute;
      top: calc(2 * $unit);
      left: calc(2 * $unit);
    }
  }

  .video-preview-body {
    position: relative;
  }

  .video-preview-image img {
    display: block;
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;

    &::before {
      content: "";
      background: linear-gradient(0deg, rgba(28, 48, 75, 0.24), rgba(28, 48, 75, 0.24));
      position: absolute;
      border-radius: $unit;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .video-preview-title {
    @include font(medium);
    font-weight: 500;
    &:not(:only-child) {
      padding-bottom: $unit;
    }
  }

  .video-preview-subtitle {
    @include font(medium);
  }

  .video-preview-timer {
    @include font(medium);
  }

  .video-preview-footer {
    bottom: calc(2 * $unit);
    left: calc(2 * $unit);
    display: flex;
    align-items: flex-end;
    background: var(--backgrounds-01);
    gap: $unit;
    padding: calc(2 * $unit) calc(3 * $unit);
    .video-preview-footer-right {
      margin-left: auto;
      display: flex;
      align-self: start;
    }
  }

  .video-preview-small-play-title {
    @extend %link-font_small;
  }

  .video-preview-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: calc(6 * $unit);
    transform: translate(-50%, -50%);
    opacity: 50%;
    color: var(--backgrounds-01);
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .video-preview-image {
    width: 100%;
    height: auto;
  }

  .video-preview {
    width: calc(40 * var(--unit));
  }
  .video-preview_large {
    width: calc(60 * $unit);
    .video-preview-title {
      @extend .h4;
    }
    .video-preview-timer {
      @include font(large);
    }
    .video-preview-play-button {
      font-size: calc(10 * $unit);
    }
  }
  .video-preview_small {
    width: calc(30 * $unit);
    .video-preview-footer {
      padding: $unit calc(2 * $unit);
    }
    .video-preview-play-button-container {
      display: flex;
      align-items: center;
      gap: $unit;
    }
  }
}
