.fusion-ui {
  /* DATEPICKER */
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  .datepicker,
  &.datepicker {
    text-transform: uppercase;
    padding: var(--space-unit) calc(2 * var(--space-unit));
  }
  input[type="date"]:invalid::-webkit-datetime-edit,
  input[type="datetime"]:invalid::-webkit-datetime-edit,
  input[type="datetime-local"]:invalid::-webkit-datetime-edit {
    color: var(--text-surface-tertiary);
  }
  ::-webkit-calendar-picker-indicator {
    width: calc(3 * var(--space-unit));
    height: calc(3 * var(--space-unit));
  }

  .input-container:has(.input-icon) {
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"] {
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }

  .datepicker-wrapper,
  &.datepicker-wrapper {
    &.dropdown {
      background: inherit;
    }
    .dropdown-menu {
      @include ms.space(padding, 1);
      max-height: none;
      display: flex;
      justify-content: center;
      box-shadow: none;
    }
  }

  .datepicker-container_range,
  &.datepicker-container_range {
    display: flex;
    gap: calc(2 * var(--space-unit));
    .input-wrapper {
      flex: 1;
    }
  }
}
