@use "../utilities/mixins" as ms;

.fusion-ui {
  .file-input-wrapper {
    position: relative;
    max-width: 100%;
    input {
      display: none;
    }
    &:has(input[multiple]) {
      .file-input-files {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        @include ms.space(gap, 1);
      }
    }
  }

  .file-input-drag-drop {
    height: calc(14 * var(--space-unit));
    @include ms.interactive-border(1, 1, neutral, dashed);
    cursor: pointer;
    span {
      color: var(--text-surface-secondary);
    }
  }

  .file-input-files {
    width: 100%;
    overflow: hidden;
    @include ms.space(margin-top, 2);
  }

  .file-input-file-item {
    width: 100%;
    background-color: var(--surface-tertiary);
    @include ms.space(padding, 2);
    @include ms.radius(1);

    .file-input-file {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include ms.space(gap, 2);
    }

    .file-input-file-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .file-input-actions {
      display: inline-flex;
      align-items: center;
      @include ms.space(gap, 1);
    }

    small {
      @include ms.space(margin-top, 1);
      color: var(--text-surface-secondary);
    }
  }
  @include breakpoint("mobile") {
    .file-input-wrapper:has(input[multiple]) {
      .file-input-files {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
