@use "../utilities/mixins" as ms;

@mixin input($size: "base") {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 100%;
  max-width: inherit;
  @include ms.surface(primary);
  @include ms.space(height, 5);
  @include ms.interactive-border(1, 1, neutral);
  &::placeholder {
    color: var(--text-surface-secondary);
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    &::placeholder {
      color: var(--text-surface-tertiary);
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:focus-visible,
  &:-internal-autofill-selected,
  &:autofill,
  &:-moz-autofill {
    appearance: none;
    background-color: var(--surface-primary) !important;
    background-image: none !important;
    box-shadow: 0 0 0 1000px var(--surface-primary) inset !important; // forces your bg
    -webkit-text-fill-color: var(--text-surface-primary) !important;
    color: var(--text-surface-primary) !important;
    transition: background-color 9999s ease; // prevents flash on autofill
  }

  &.error {
    @include ms.border(1, 1, error);
  }
  @include size($size);
}

@mixin size($size: "base") {
  @if $size == "large" {
    @include ms.text(lg);
    padding: calc(2 * var(--space-unit));
    @include ms.space(height, 7);
    &:has(+ .input-icon) {
      padding: calc(2 * var(--space-unit))
        calc(6 * var(--space-unit))
        calc(2 * var(--space-unit))
        calc(2 * var(--space-unit));
    }
  } @else {
    padding: var(--space-unit)
      calc(2 * var(--space-unit))
      var(--space-unit)
      calc(2 * var(--space-unit));
    &:has(+ .input-icon) {
      padding: var(--space-unit)
        calc(6 * var(--space-unit))
        var(--space-unit)
        calc(2 * var(--space-unit));
    }
  }
}

.fusion-ui {
  .input-wrapper,
  &.input-wrapper {
    position: relative;
    max-width: 100%;
  }

  .input-container,
  &.input-container {
    position: relative;
    max-width: 100%;
  }

  label {
    display: block;

    @include ms.space(margin-bottom, 1);
    small,
    .required {
      @include ms.text(sm);
      color: var(--interactive-error);
      margin-right: calc(var(--space-unit) / 2);
    }

    .info-tooltip {
      font-size: calc(2 * var(--space-unit));
      margin-left: calc(var(--space-unit) / 2);
    }
  }

  // Shared
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="url"],
  input[type="email"],
  input[type="date"],
  .input,
  &.input {
    @include input();
    &.large {
      @include size("large");
    }
  }

  .input,
  &.input {
    &_large {
      @include input("large");
    }
  }

  .input-container > .input-icon,
  &.input-container > .input-icon {
    position: absolute;
    right: var(--space-unit);
    top: 50%;
    transform: translateY(-50%);
  }

  .input-helper-text,
  &.input-helper-text {
    @include ms.text("xs");
    margin: 0;
    margin-top: var(--space-unit);
    color: var(--text-surface-tertiary);
  }

  /* DATEPICKER */
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  .datepicker,
  &.datepicker {
    text-transform: uppercase;
    padding: var(--space-unit) calc(2 * var(--space-unit));
  }
  input[type="date"]:invalid::-webkit-datetime-edit,
  input[type="datetime"]:invalid::-webkit-datetime-edit,
  input[type="datetime-local"]:invalid::-webkit-datetime-edit {
    color: var(--text-surface-tertiary);
  }
  ::-webkit-calendar-picker-indicator {
    width: calc(3 * var(--space-unit));
    height: calc(3 * var(--space-unit));
  }
}

fieldset.fusion-ui {
  border: 0;
  padding: 0;
}
