@use "../utilities/mixins" as ms;

@mixin input($size: "base") {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 100%;
  max-width: inherit;
  @include ms.surface(primary);
  @include ms.interactive-border(1, 1, neutral);
  &::placeholder {
    text-transform: none;
    color: var(--text-surface-tertiary);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }

  &.error {
    @include ms.border(1, 1, error);
  }

  @include size($size);
}

@mixin size($size: "base") {
  @if $size == "large" {
    @include ms.text(lg);
    padding: calc(2 * var(--space-unit));
    @include ms.space(height, 7);
    &:has(+ .input-icon) {
      padding: calc(2 * var(--space-unit))
        calc(6 * var(--space-unit))
        calc(2 * var(--space-unit))
        calc(2 * var(--space-unit));
    }
  } @else {
    @include ms.space(height, 5);
    padding: var(--space-unit)
      calc(2 * var(--space-unit))
      var(--space-unit)
      calc(2 * var(--space-unit));
    &:has(+ .input-icon) {
      padding: var(--space-unit)
        calc(6 * var(--space-unit))
        var(--space-unit)
        calc(2 * var(--space-unit));
    }
  }
}

.fusion-ui {
  .input-wrapper,
  &.input-wrapper {
    position: relative;
    max-width: 100%;
  }

  .input-container,
  &.input-container {
    position: relative;
    max-width: 100%;
  }

  label {
    display: block;

    @include ms.space(margin-bottom, 1);
    small,
    .required {
      @include ms.text(sm);
      color: var(--interactive-error);
      margin-right: calc(var(--space-unit) / 2);
    }

    .info-tooltip {
      font-size: calc(2 * var(--space-unit));
      margin-left: calc(var(--space-unit) / 2);
    }
  }

  // Shared
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="url"],
  input[type="email"],
  input[type="date"],
  .input,
  &.input {
    @include input();
    &.large {
      @include size("large");
    }
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="url"],
  input[type="email"],
  input[type="date"] {
    &.input_large {
      @include input("large");
    }
  }

  .input,
  &.input {
    &_large {
      @include input("large");
    }
  }

  .input-container > .input-icon,
  &.input-container > .input-icon {
    position: absolute;
    right: var(--space-unit);
    top: 50%;
    transform: translateY(-50%);
  }

  .input-helper-text,
  &.input-helper-text {
    @include ms.text("xs");
    margin: 0;
    margin-top: var(--space-unit);
    color: var(--text-surface-tertiary);
  }
}

fieldset.fusion-ui {
  border: 0;
  padding: 0;
}
