@use "../utilities/mixins" as ms;

$sizes: small, base, large;

@mixin handle($size: "base", $checked: "false") {
  @if $size == small {
    width: calc(1.5 * var(--space-unit));
    height: calc(1.5 * var(--space-unit));
    @if $checked == "true" {
      margin-left: calc(
        100% - 1.5 * var(--space-unit) - 0.125 * var(--space-unit)
      );
    } @else {
      margin-left: calc(0.125 * var(--space-unit));
    }
  } @else if $size == large {
    width: calc(2.5 * var(--space-unit));
    height: calc(2.5 * var(--space-unit));
    @if $checked == "true" {
      margin-left: calc(
        100% - 2.5 * var(--space-unit) - 0.5 * var(--space-unit)
      );
    } @else {
      margin-left: calc(0.5 * var(--space-unit));
    }
  } @else {
    width: calc(2 * var(--space-unit));
    height: calc(2 * var(--space-unit));
    @if $checked == "true" {
      margin-left: calc(
        100% - 2 * var(--space-unit) - 0.3125 * var(--space-unit)
      );
    } @else {
      margin-left: calc(0.3125 * var(--space-unit));
    }
  }
}

@mixin size($size: "base") {
  @if $size == small {
    width: calc(4 * var(--space-unit));
    height: calc(2 * var(--space-unit));
    @include ms.interactive-border(1, 1, neutral);
  } @else if $size == large {
    width: calc(8 * var(--space-unit));
    height: calc(4 * var(--space-unit));
    @include ms.interactive-border(1, 2, neutral);
  } @else {
    width: calc(6 * var(--space-unit));
    height: calc(3 * var(--space-unit));
    @include ms.interactive-border(1, 1.5, neutral);
  }
  .toggle-handle {
    @include handle($size);
  }
}

@mixin pill($size: "base") {
  position: relative;
  cursor: pointer;
  background: transparent;
  transition: background-color 0.25s ease;

  &:has(.toggle-input:checked) {
    background-color: var(--interactive-accent);

    .toggle-handle {
      @include handle($size, "true");
    }
  }

  &:has(.toggle-input:disabled) {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .toggle-handle {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    background: var(--text-surface-primary);
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: margin-left 0.25s ease;
  }

  @include size($size);
}

@mixin toggle() {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 0;
  appearance: none;

  &:focus-visible {
    opacity: 1;
    appearance: none;
    outline: 4px solid var(--interactive-accent);
    border-radius: 4px;
    margin: -1px;
  }
  &:disabled,
  &:read-only {
    appearance: none;
  }
}

/* TOGGLE */
.fusion-ui {
  .toggle,
  &.toggle {
    position: relative;
    cursor: default;
  }

  .toggle-container {
    display: flex;
    position: relative;
    align-items: center;
  }

  .toggle-pill {
    @include pill();
    @each $size in $sizes {
      &.#{$size} {
        @include pill($size);
      }
      &_#{$size} {
        @include pill($size);
      }
    }
  }

  .toggle-input {
    @include toggle();
  }

  .toggle-text-helper {
    margin-left: var(--space-unit);
    color: var(--text-surface-secondary);
  }
}
