.stepone-ui {
  /* DATEPICKER */
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  .datepicker,
  &.datepicker {
    text-transform: uppercase;
    padding: $unit calc(2 * $unit);
    &::-webkit-calendar-picker-indicator {
      width: calc(3 * $unit);
      height: calc(3 * $unit);
    }
  }
  input[type="date"]:invalid::-webkit-datetime-edit,
  input[type="datetime"]:invalid::-webkit-datetime-edit,
  input[type="datetime-local"]:invalid::-webkit-datetime-edit {
    color: var(--text-03);
  }

  .input-container:has(.input-icon) {
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"] {
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }

  .datepicker-wrapper,
  &.datepicker-wrapper {
    &.dropdown {
      background: inherit;
    }
    .dropdown-menu {
      padding: 0;
      max-width: fit-content;
      max-height: none;
    }
  }

  .datepicker-container_range,
  &.datepicker-container_range {
    display: flex;
    gap: calc(2 * $unit);
    .input-wrapper {
      flex: 1;
    }
  }
}
