%thumb {
  z-index: 2;
  appearance: none;
  margin-top: -8px;
  background-color: var(--surface-primary);
  border: var(--space-unit) solid var(--text-interactive-link-on-light-enabled);
  border-radius: 50%;
  cursor: pointer;
  height: calc(3 * var(--space-unit));
  width: calc(3 * var(--space-unit));
  pointer-events: all;
  position: relative;
  &:active {
    border: calc(var(--space-unit) / 2) solid
      var(--text-interactive-link-on-light-enabled);
  }
}

%track {
  width: 100%;
  height: var(--space-unit);
  cursor: pointer;
  background: var(--surface-tertiary);
  border-radius: var(--space-unit);
  border: 0;
}

.fusion-ui {
  input[type="range"] {
    height: var(--space-unit);
    appearance: none;
    width: 100%;
    margin: 0;
    border-radius: var(--space-unit);
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @extend %track;
  }

  input[type="range"]::-webkit-slider-thumb {
    @extend %thumb;
  }
  input[type="range"]:disabled::-webkit-slider-thumb {
    @extend %thumb;
    cursor: default;
    pointer-events: none;
    border: var(--space-unit) solid var(--icons-03);
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--space-unit);
    cursor: pointer;
    animation: linear 0.2s;
    background: var(--surface-tertiary);
    border-radius: var(--space-unit);
    border: 0;
  }

  input[type="range"]::-moz-range-thumb {
    z-index: 2;
    appearance: none;
    margin-top: -8px;
    background-color: var(--surface-primary);
    border: var(--space-unit) solid
      var(--text-interactive-link-on-light-enabled);
    border-radius: 50%;
    cursor: pointer;
    height: var(--space-unit);
    width: var(--space-unit);
    pointer-events: all;
    position: relative;
    &:active {
      height: calc(2 * var(--space-unit));
      width: calc(2 * var(--space-unit));
      border: calc(var(--space-unit) / 2) solid
        var(--text-interactive-link-on-light-enabled);
    }
  }

  input[type="range"]:disabled::-moz-range-thumb {
    z-index: 2;
    appearance: none;
    margin-top: -8px;
    background-color: var(--surface-primary);
    pointer-events: none;
    border: var(--space-unit) solid var(--icons-03);
    border-radius: 50%;
    cursor: pointer;
    height: var(--space-unit);
    width: var(--space-unit);
    position: relative;
  }

  .slider-wrapper,
  &.slider-wrapper {
    position: relative;
    max-width: 100%;
    min-height: calc(3 * var(--space-unit));
  }

  .slider-range {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: calc(var(--space-unit) + 1px);
    height: var(--space-unit);
    border-radius: var(--space-unit);
    background-color: var(--background-secondary-accent);
  }

  .slider-range_disabled {
    @extend .slider-range;
    background-color: var(--backgrounds-interactive-disabled);
  }

  .slider-label {
    color: var(--text-surface-secondary);
    margin-top: var(--space-unit);
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .tooltip.slider {
    position: absolute;
    top: 0;
    transform: translate(-50%, calc(-100% - var(--space-unit)));
    width: max-content;
  }

  .slider-value-track {
    position: relative;
    display: flex;
    margin-top: calc(3 * var(--space-unit));
  }

  // DOUBLE
  .multi-slider {
    position: relative;
    min-height: calc(3 * var(--space-unit));
    input[type="range"] {
      position: absolute;
      width: 100%;
      top: var(--space-unit);
    }
    .slider-range {
      top: var(--space-unit);
    }
  }

  .bg03,
  &.bg03,
  .bg04,
  &.bg04 {
    input[type="range"]::-webkit-slider-runnable-track {
      background: var(--surface-secondary);
    }

    input[type="range"]::-webkit-slider-thumb {
      background-color: var(--background-interactive);
    }
    input[type="range"]:disabled::-webkit-slider-thumb {
      background-color: var(--background-interactive);
    }

    input[type="range"]::-moz-range-track {
      background: var(--surface-secondary);
    }

    input[type="range"]::-moz-range-thumb {
      background: var(--surface-secondary);
    }
    input[type="range"]:disabled::-moz-range-thumb {
      background: var(--surface-secondary);
    }

    .slider-label {
      color: var(--text-on-primary);
    }
  }
}
