.fusion-ui {
  .grid,
  &.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $unit;
    grid-auto-rows: minmax(auto, 100%);
  }

  @for $i from 1 through 12 {
    .column_#{$i} {
      grid-column: auto / span $i;
    }
  }
  @include breakpoint("tablet") {
    @for $i from 1 through 12 {
      .column_#{$i} {
        grid-column: auto / span 12;
      }
    }
    @for $i from 1 through 12 {
      .column_#{$i}_tablet {
        grid-column: auto / span $i;
      }
    }
  }
  @include breakpoint("mobile") {
    @for $i from 1 through 12 {
      .column_#{$i}_tablet {
        grid-column: auto / span 12;
      }
    }
    @for $i from 1 through 12 {
      .column_#{$i}_mobile {
        grid-column: auto / span $i;
      }
    }
  }

  @for $i from 1 through 12 {
    .row_#{$i} {
      grid-row: auto / span $i;
    }
  }
  @include breakpoint("tablet") {
    @for $i from 1 through 12 {
      .row_#{$i}_tablet {
        grid-row: auto / span $i;
      }
    }
  }
  @include breakpoint("mobile") {
    @for $i from 1 through 12 {
      .row_#{$i}_mobile {
        grid-row: auto / span $i;
      }
    }
  }

  @for $i from 1 through 10 {
    .grid-gap_#{$i} {
      grid-gap: calc($i * $unit) !important;
    }
  }
  @include breakpoint("tablet") {
    @for $i from 1 through 10 {
      .grid-gap_#{$i}_tablet {
        grid-gap: calc($i * $unit) !important;
      }
    }
  }
  @include breakpoint("mobile") {
    @for $i from 1 through 10 {
      .grid-gap_#{$i}_mobile {
        grid-gap: calc($i * $unit) !important;
      }
    }
  }
}
