// Grid
.g-container,
.g-container_12 {
  max-width: 100%;
  clear: left;
  overflow: visible;
  padding: 0;
}

.clearfix {
  display: block;
  height: 1px;
  zoom: 1;
  width: 100%;
  clear: both;
  margin-bottom: -1px;
}

.g-item_1,
.g-item_2,
.g-item_3,
.g-item_4,
.g-item_5,
.g-item_6,
.g-item_7,
.g-item_8,
.g-item_9,
.g-item_10,
.g-item_11,
.g-item_12,
.g-item_13,
.g-item_14,
.g-item_15,
.g-item_16,
.g-item_tablet_1,
.g-item_tablet_2,
.g-item_tablet_3,
.g-item_tablet_4,
.g-item_tablet_5,
.g-item_tablet_6,
.g-item_tablet_7,
.g-item_tablet_8,
.g-item_mobile_1,
.g-item_mobile_2,
.g-item_mobile_3,
.g-item_mobile_4 {
  float: left;
}

.g-container {
  .g-item_1 {
    width: calc(100% / 16);
  }
  .g-item_2 {
    width: calc(100% / 8);
  }
  .g-item_3 {
    width: calc(100% / (16 / 3));
  }
  .g-item_4 {
    width: calc(100% / 4);
  }
  .g-item_5 {
    width: calc(100% / (16 / 5));
  }
  .g-item_6 {
    width: calc(100% / (16 / 6));
  }
  .g-item_7 {
    width: calc(100% / (16 / 7));
  }
  .g-item_8 {
    width: calc(100% / 2);
  }
  .g-item_9 {
    width: calc(100% / (16 / 9));
  }
  .g-item_10 {
    width: calc(100% / 1.6);
  }
  .g-item_11 {
    width: calc(100% / (16 / 11));
  }
  .g-item_12 {
    width: calc(100% / (16 / 12));
  }
  .g-item_13 {
    width: calc(100% / (16 / 13));
  }
  .g-item_14 {
    width: calc(100% / (16 / 14));
  }
  .g-item_15 {
    width: calc(100% / (16 / 15));
  }
  .g-item_16 {
    width: 100%;
  }
}

.g-container_12 {
  .g-item_1 {
    width: calc(100% / 12);
  }
  .g-item_2 {
    width: calc(100% / 6);
  }
  .g-item_3 {
    width: calc(100% / 4);
  }
  .g-item_4 {
    width: calc(100% / 3);
  }
  .g-item_5 {
    width: calc(100% / (12 / 5));
  }
  .g-item_6 {
    width: calc(100% / 2);
  }
  .g-item_7 {
    width: calc(100% / (12 / 7));
  }
  .g-item_8 {
    width: calc(100% / (12 / 8));
  }
  .g-item_9 {
    width: calc(100% / (12 / 9));
  }
  .g-item_10 {
    width: calc(100% / (12 / 10));
  }
  .g-item_11 {
    width: calc(100% / (12 / 11));
  }
  .g-item_12 {
    width: 100%;
  }
}

@media (max-width: $tablet) {
  .g-container,
  .g-container_12 {
    .g-item_1,
    .g-item_2,
    .g-item_3,
    .g-item_4,
    .g-item_5,
    .g-item_6,
    .g-item_7,
    .g-item_8,
    .g-item_9,
    .g-item_10,
    .g-item_11,
    .g-item_12,
    .g-item_13,
    .g-item_14,
    .g-item_15,
    .g-item_16 {
      width: 100%;
    }
  }

  .g-container {
    .g-item_tablet_1 {
      width: calc(100% / 8);
    }
    .g-item_tablet_2 {
      width: calc(100% / 4);
    }
    .g-item_tablet_3 {
      width: calc(100% / (8 / 3));
    }
    .g-item_tablet_4 {
      width: calc(100% / 2);
    }
    .g-item_tablet_5 {
      width: calc(100% / (8 / 5));
    }
    .g-item_tablet_6 {
      width: calc(100% / (8 / 6));
    }
    .g-item_tablet_7 {
      width: calc(100% / (8 / 7));
    }
    .g-item_tablet_8 {
      width: 100%;
    }
  }
  .g-container_12 {
    .g-item_tablet_1 {
      width: calc(100% / 6);
    }
    .g-item_tablet_2 {
      width: calc(100% / 3);
    }
    .g-item_tablet_3 {
      width: calc(100% / 2);
    }
    .g-item_tablet_4 {
      width: calc(100% / (6 / 4));
    }
    .g-item_tablet_5 {
      width: calc(100% / (6 / 5));
    }
    .g-item_tablet_6 {
      width: 100%;
    }
  }
}

@media (max-width: $mobile) {
  .g-container,
  .g-container_12 {
    .g-item_tablet_1,
    .g-item_tablet_2,
    .g-item_tablet_3,
    .g-item_tablet_4,
    .g-item_tablet_5,
    .g-item_tablet_6,
    .g-item_tablet_7,
    .g-item_tablet_8 {
      width: 100%;
    }
  }
  .g-container {
    .g-item_mobile_1 {
      width: calc(100% / 4);
    }
    .g-item_mobile_2 {
      width: calc(100% / 2);
    }
    .g-item_mobile_3 {
      width: calc(100% / (4 / 3));
    }
    .g-item_mobile_4 {
      width: calc(100% / 1);
    }
  }

  .g-container_12 {
    .g-item_mobile_1 {
      width: calc(100% / 3);
    }
    .g-item_mobile_2 {
      width: calc(100% / (3 / 2));
    }
    .g-item_mobile_3 {
      width: 100%;
    }
  }
}
