.fusion-ui {
  .g_16,
  &.g_16,
  .g_12,
  &.g_12 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .g_16,
  &.g_16 {
    @for $i from 1 through 16 {
      .g-col_#{$i} {
        flex: 0 1 calc(100% / (16 / $i));
      }
    }

    @include breakpoint("tablet") {
      @for $i from 1 through 16 {
        .g-col_#{$i} {
          flex: 0 1 100%;
        }
      }
      @for $i from 1 through 8 {
        .g-col_#{$i}_tablet {
          flex: 0 1 calc(100% / (8 / $i));
        }
      }
    }

    @include breakpoint("mobile") {
      @for $i from 1 through 8 {
        .g-col_#{$i}_tablet {
          flex: 0 1 100%;
        }
      }
      @for $i from 1 through 4 {
        .g-col_#{$i}_mobile {
          flex: 0 1 calc(100% / (4 / $i));
        }
      }
    }
  }
  .g_12,
  &.g_12 {
    @for $i from 1 through 12 {
      .g-col_#{$i} {
        flex: 0 1 calc(100% / (12 / $i));
      }
    }

    @include breakpoint("tablet") {
      @for $i from 1 through 12 {
        .g-col_#{$i} {
          flex: 0 1 100%;
        }
      }
      @for $i from 1 through 6 {
        .g-col_#{$i}_tablet {
          flex: 0 1 calc(100% / (6 / $i));
        }
      }
    }

    @include breakpoint("mobile") {
      @for $i from 1 through 6 {
        .g-col_#{$i}_tablet {
          flex: 0 1 100%;
        }
      }
      @for $i from 1 through 3 {
        .g-col_#{$i}_mobile {
          flex: 0 1 calc(100% / (3 / $i));
        }
      }
    }
  }
}
