.tag-ds {
  .dropdown,
  &.dropdown {
    width: auto;
    max-width: 100%;
    height: min-content;
    position: relative;
    display: inline-block;
  }

  .dropdown-button {
    cursor: pointer;
    height: min-content;
  }

  .dropdown-button_disabled {
    pointer-events: none;
  }

  .dropdown-menu,
  &.dropdown-menu {
    position: fixed;
    display: block;
    @include font(base);
    @extend .shadow-elevation_1x;
    z-index: 2;
    float: left;
    width: auto;
    min-width: max-content;
    max-height: calc(30 * $unit);
    padding: 0;
    margin: 0;
    overflow-y: auto;
    text-align: left;
    background: var(--backgrounds-01);
    border: none;
    border-radius: $unit;

    &::-webkit-scrollbar {
      width: calc(2.75 * $unit);
    }
    &::-webkit-scrollbar-track {
      background: var(--backgrounds-03);
      border-radius: calc(3.5 * $unit);
      border: $unit solid var(--backgrounds-01);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--text-interactive-link-on-light-enabled);
      border-radius: calc(3.5 * $unit);
      border: $unit solid transparent;
      background-clip: padding-box;
    }
    & > ul,
    ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .dropdown-menu.hidden,
  &.dropdown-menu.hidden {
    visibility: hidden;
    pointer-events: none;
  }

  .dropdown-item {
    position: relative;
    cursor: pointer;
    padding: $unit calc(4 * $unit) $unit calc(2 * $unit);
    margin: 0;
    appearance: none;
    outline: 0;
    white-space: normal;
    color: var(--text-01);
    &:hover:not(.dropdown-item.checkbox-container) {
      background-color: var(--backgrounds-02);
    }
    &:active:not(.dropdown-item.checkbox-container) {
      background-color: var(--backgrounds-interactive-pressed);
    }
    &:focus-visible:not(.dropdown-item.checkbox-container) {
      outline: calc($unit / 2) solid var(--borders-dividers-interactive-focused);
    }
    &-icon {
      @extend .dropdown-item;
      display: flex;
      align-items: center;
      span,
      i,
      svg {
        font-size: calc(2 * $unit);
        margin-right: $unit;
      }
    }
  }

  .dropdown-item:last-child,
  .dropdown-item-icon:last-child {
    border-bottom: none;
  }

  .dropdown-item_selected {
    @extend .dropdown-item;
  }
  .dropdown-item-icon_selected {
    @extend .dropdown-item-icon;
  }

  .dropdown-item_selected:not(.dropdown-item_selected.checkbox-container),
  .dropdown-item.selected:not(.dropdown-item.selected.checkbox-container),
  .dropdown-item-icon_selected {
    background-color: var(--backgrounds-interactive-selected-02);
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(1 * $unit);
      font-size: calc(2 * $unit);
      color: var(--icons-01);
      font-family: 'Material Icons';
      content: '\e5ca';
    }
  }
}
