@mixin font($name) {
  @if $name == large {
    font-family: var(--body-large-font-family);
    font-weight: var(--body-large-font-weight);
    line-height: var(--body-large-line-height);
    font-size: var(--body-large-font-size);
    letter-spacing: var(--body-large-letter-spacing);
    text-transform: var(--body-large-text-case);
    text-decoration: var(--body-large-text-decoration);
  } @else if $name == base {
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    line-height: var(--body-base-line-height);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    text-transform: var(--body-base-text-case);
    text-decoration: var(--body-base-text-decoration);
  } @else if $name == small {
    font-family: var(--body-small-font-family);
    font-weight: var(--body-small-font-weight);
    line-height: var(--body-small-line-height);
    font-size: var(--body-small-font-size);
    letter-spacing: var(--body-small-letter-spacing);
    text-transform: var(--body-small-text-case);
    text-decoration: var(--body-small-text-decoration);
  } @else {
    font-family: var(--body-medium-font-family);
    font-weight: var(--body-medium-font-weight);
    line-height: var(--body-medium-line-height);
    font-size: var(--body-medium-font-size);
    letter-spacing: var(--body-medium-letter-spacing);
    text-transform: var(--body-medium-text-case);
    text-decoration: var(--body-medium-text-decoration);
  }
}
.tag-ds {
  .figure,
  &.figure {
    font-family: var(--figures-desktop-font-family);
    font-weight: var(--figures-desktop-font-weight);
    line-height: var(--figures-desktop-line-height);
    font-size: var(--figures-desktop-font-size);
    letter-spacing: var(--figures-desktop-letter-spacing);
    text-transform: var(--figures-desktop-text-case);
  }

  .hero,
  &.hero {
    font-family: var(--hero-desktop-font-family);
    font-weight: var(--hero-desktop-font-weight);
    line-height: var(--hero-desktop-line-height);
    font-size: var(--hero-desktop-font-size);
    letter-spacing: var(--hero-desktop-letter-spacing);
    text-transform: var(--hero-desktop-text-case);
    text-decoration: var(--hero-desktop-text-decoration);
  }

  h1,
  .h1,
  &.h1 {
    font-family: var(--h1-desktop-font-family);
    font-weight: var(--h1-desktop-font-weight);
    line-height: var(--h1-desktop-line-height);
    font-size: var(--h1-desktop-font-size);
    letter-spacing: var(--h1-desktop-letter-spacing);
    text-transform: var(--h1-desktop-text-case);
    text-decoration: var(--h1-desktop-text-decoration);
    margin: 0;
  }

  h2,
  .h2,
  &.h2 {
    font-family: var(--h2-desktop-font-family);
    font-weight: var(--h2-desktop-font-weight);
    line-height: var(--h2-desktop-line-height);
    font-size: var(--h2-desktop-font-size);
    letter-spacing: var(--h2-desktop-letter-spacing);
    text-transform: var(--h2-desktop-text-case);
    text-decoration: var(--h2-desktop-text-decoration);
    margin: 0;
  }

  h3,
  .h3,
  &.h3 {
    font-family: var(--h3-desktop-font-family);
    font-weight: var(--h3-desktop-font-weight);
    line-height: var(--h3-desktop-line-height);
    font-size: var(--h3-desktop-font-size);
    letter-spacing: var(--h3-desktop-letter-spacing);
    text-transform: var(--h3-desktop-text-case);
    text-decoration: var(--h3-desktop-text-decoration);
    margin: 0;
  }

  h4,
  .h4,
  &.h4 {
    font-family: var(--h4-desktop-font-family);
    font-weight: var(--h4-desktop-font-weight);
    line-height: var(--h4-desktop-line-height);
    font-size: var(--h4-desktop-font-size);
    letter-spacing: var(--h4-desktop-letter-spacing);
    text-transform: var(--h4-desktop-text-case);
    text-decoration: var(--h4-desktop-text-decoration);
    margin: 0;
  }

  h5,
  .h5,
  &.h5 {
    font-family: var(--h4-desktop-font-family);
    font-weight: 400;
    font-size: calc(2 * $unit);
    line-height: calc(3 * $unit);
    margin: 0;
  }

  h6,
  .h6,
  &.h6 {
    font-family: var(--h4-desktop-font-family);
    font-weight: 400;
    font-size: calc(1.5 * $unit);
    line-height: calc(3 * $unit);
    margin: 0;
  }

  .subtitle,
  &.subtitle {
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    line-height: var(--subtitle-line-height);
    font-size: var(--subtitle-font-size);
    letter-spacing: var(--subtitle-letter-spacing);
    text-transform: var(--subtitle-text-case);
    text-decoration: var(--subtitle-text-decoration);
  }

  %small-title,
  .small-title,
  &.small-title {
    font-family: var(--small-title-font-family);
    font-weight: var(--small-title-font-weight);
    line-height: var(--small-title-line-height);
    font-size: var(--small-title-font-size);
    letter-spacing: var(--small-title-letter-spacing);
    text-transform: var(--small-title-text-case);
    text-decoration: var(--small-title-text-decoration);
  }

  .large,
  &.large {
    @include font(large);
  }

  .base,
  &.base {
    @include font(base);
  }

  .medium,
  &.medium {
    @include font(medium);
  }

  small,
  .small,
  &.small {
    @include font(small);
  }

  %button-font {
    &_large {
      font-family: var(--button-l-font-family);
      font-weight: var(--button-l-font-weight);
      line-height: var(--button-l-line-height);
      font-size: var(--button-l-font-size);
      letter-spacing: var(--button-l-letter-spacing);
      text-transform: var(--button-l-text-case);
      text-decoration: var(--button-l-text-decoration);
    }
    &_medium {
      font-family: var(--button-m-font-family);
      font-weight: var(--button-m-font-weight);
      line-height: var(--button-m-line-height);
      font-size: var(--button-m-font-size);
      letter-spacing: var(--button-m-letter-spacing);
      text-transform: var(--button-m-text-case);
      text-decoration: var(--button-m-text-decoration);
    }
    &_small {
      font-family: var(--button-s-font-family);
      font-weight: var(--button-s-font-weight);
      line-height: var(--button-s-line-height);
      font-size: var(--button-s-font-size);
      letter-spacing: var(--button-s-letter-spacing);
      text-transform: var(--button-s-text-case);
      text-decoration: var(--button-s-text-decoration);
    }
  }

  %caption-font,
  caption,
  .caption,
  &.caption {
    font-family: var(--caption-font-family);
    font-weight: var(--caption-font-weight);
    line-height: var(--caption-line-height);
    font-size: var(--caption-font-size);
    letter-spacing: var(--caption-letter-spacing);
    text-transform: var(--caption-text-case);
    text-decoration: var(--caption-text-decoration);
  }

  %link-font {
    &_big {
      font-family: var(--link-big-font-family);
      font-weight: var(--link-big-font-weight);
      line-height: var(--link-big-line-height);
      font-size: var(--link-big-font-size);
      letter-spacing: var(--link-big-letter-spacing);
      text-transform: var(--link-big-text-case);
      text-decoration: var(--link-big-text-decoration);
    }
    &_big_underline {
      font-family: var(--link-big-underline-font-family);
      font-weight: var(--link-big-underline-font-weight);
      line-height: var(--link-big-underline-line-height);
      font-size: var(--link-big-underline-font-size);
      letter-spacing: var(--link-big-underline-letter-spacing);
      text-transform: var(--link-big-underline-text-case);
      text-decoration: var(--link-big-underline-text-decoration);
    }
    &_small {
      font-family: var(--link-small-font-family);
      font-weight: var(--link-small-font-weight);
      line-height: var(--link-small-line-height);
      font-size: var(--link-small-font-size);
      letter-spacing: var(--link-small-letter-spacing);
      text-transform: var(--link-small-text-case);
      text-decoration: var(--link-small-text-decoration);
    }
    &_small_underline {
      font-family: var(--link-small-underline-font-family);
      font-weight: var(--link-small-underline-font-weight);
      line-height: var(--link-small-underline-line-height);
      font-size: var(--link-small-underline-font-size);
      letter-spacing: var(--link-small-underline-letter-spacing);
      text-transform: var(--link-small-underline-text-case);
      text-decoration: var(--link-small-underline-text-decoration);
    }
  }

  %tag-font,
  .tag,
  &.tag {
    font-family: var(--tag-font-family);
    font-weight: var(--tag-font-weight);
    line-height: var(--tag-line-height);
    font-size: var(--tag-font-size);
    letter-spacing: var(--tag-letter-spacing);
    text-transform: var(--tag-text-case);
    text-decoration: var(--tag-text-decoration);
  }

  @media (max-width: $mobile) {
    .figure,
    &.figure {
      font-family: var(--figures-mobile-font-family);
      font-weight: var(--figures-mobile-font-weight);
      line-height: var(--figures-mobile-line-height);
      font-size: var(--figures-mobile-font-size);
      letter-spacing: var(--figures-mobile-letter-spacing);
      text-transform: var(--figures-mobile-text-case);
      text-decoration: var(--figures-mobile-text-decoration);
    }

    .hero,
    &.hero {
      font-family: var(--hero-mobile-font-family);
      font-weight: var(--hero-mobile-font-weight);
      line-height: var(--hero-mobile-line-height);
      font-size: var(--hero-mobile-font-size);
      letter-spacing: var(--hero-mobile-letter-spacing);
      text-transform: var(--hero-mobile-text-case);
      text-decoration: var(--hero-mobile-text-decoration);
    }

    h1,
    .h1,
    &.h1 {
      font-family: var(--h1-mobile-font-family);
      font-weight: var(--h1-mobile-font-weight);
      line-height: var(--h1-mobile-line-height);
      font-size: var(--h1-mobile-font-size);
      letter-spacing: var(--h1-mobile-letter-spacing);
      text-transform: var(--h1-mobile-text-case);
      text-decoration: var(--h1-mobile-text-decoration);
    }

    h2,
    .h2,
    &.h2 {
      font-family: var(--h2-mobile-font-family);
      font-weight: var(--h2-mobile-font-weight);
      line-height: var(--h2-mobile-line-height);
      font-size: var(--h2-mobile-font-size);
      letter-spacing: var(--h2-mobile-letter-spacing);
      text-transform: var(--h2-mobile-text-case);
      text-decoration: var(--h2-mobile-text-decoration);
    }

    h3,
    .h3,
    &.h3 {
      font-family: var(--h3-mobile-font-family);
      font-weight: var(--h3-mobile-font-weight);
      line-height: var(--h3-mobile-line-height);
      font-size: var(--h3-mobile-font-size);
      letter-spacing: var(--h3-mobile-letter-spacing);
      text-transform: var(--h3-mobile-text-case);
      text-decoration: var(--h3-mobile-text-decoration);
    }

    h4,
    .h4,
    &.h4 {
      font-family: var(--h4-mobile-font-family);
      font-weight: var(--h4-mobile-font-weight);
      line-height: var(--h4-mobile-line-height);
      font-size: var(--h4-mobile-font-size);
      letter-spacing: var(--h4-mobile-letter-spacing);
      text-transform: var(--h4-mobile-text-case);
      text-decoration: var(--h4-mobile-text-decoration);
    }
  }
}

h1.tag-ds {
  font-family: var(--h1-desktop-font-family);
  font-weight: var(--h1-desktop-font-weight);
  line-height: var(--h1-desktop-line-height);
  font-size: var(--h1-desktop-font-size);
  letter-spacing: var(--h1-desktop-letter-spacing);
  text-transform: var(--h1-desktop-text-case);
  text-decoration: var(--h1-desktop-text-decoration);
  margin: 0;
}

h2.tag-ds {
  font-family: var(--h2-desktop-font-family);
  font-weight: var(--h2-desktop-font-weight);
  line-height: var(--h2-desktop-line-height);
  font-size: var(--h2-desktop-font-size);
  letter-spacing: var(--h2-desktop-letter-spacing);
  text-transform: var(--h2-desktop-text-case);
  text-decoration: var(--h2-desktop-text-decoration);
  margin: 0;
}

h3.tag-ds {
  font-family: var(--h3-desktop-font-family);
  font-weight: var(--h3-desktop-font-weight);
  line-height: var(--h3-desktop-line-height);
  font-size: var(--h3-desktop-font-size);
  letter-spacing: var(--h3-desktop-letter-spacing);
  text-transform: var(--h3-desktop-text-case);
  text-decoration: var(--h3-desktop-text-decoration);
  margin: 0;
}

h4.tag-ds {
  font-family: var(--h4-desktop-font-family);
  font-weight: var(--h4-desktop-font-weight);
  line-height: var(--h4-desktop-line-height);
  font-size: var(--h4-desktop-font-size);
  letter-spacing: var(--h4-desktop-letter-spacing);
  text-transform: var(--h4-desktop-text-case);
  text-decoration: var(--h4-desktop-text-decoration);
  margin: 0;
}

h5.tag-ds {
  font-weight: 400;
  font-size: calc(2 * $unit);
  line-height: calc(3 * $unit);
  margin: 0;
}

h6.tag-ds {
  font-weight: 400;
  font-size: calc(1.5 * $unit);
  line-height: calc(3 * $unit);
  margin: 0;
}

caption.tag-ds {
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  line-height: var(--caption-line-height);
  font-size: var(--caption-font-size);
  letter-spacing: var(--caption-letter-spacing);
  text-transform: var(--caption-text-case);
  text-decoration: var(--caption-text-decoration);
}

small.tag-ds {
  @include font(small);
}

@media (max-width: $mobile) {
  h1.tag-ds {
    font-family: var(--h1-mobile-font-family);
    font-weight: var(--h1-mobile-font-weight);
    line-height: var(--h1-mobile-line-height);
    font-size: var(--h1-mobile-font-size);
    letter-spacing: var(--h1-mobile-letter-spacing);
    text-transform: var(--h1-mobile-text-case);
    text-decoration: var(--h1-mobile-text-decoration);
  }

  h2.tag-ds {
    font-family: var(--h2-mobile-font-family);
    font-weight: var(--h2-mobile-font-weight);
    line-height: var(--h2-mobile-line-height);
    font-size: var(--h2-mobile-font-size);
    letter-spacing: var(--h2-mobile-letter-spacing);
    text-transform: var(--h2-mobile-text-case);
    text-decoration: var(--h2-mobile-text-decoration);
  }

  h3.tag-ds {
    font-family: var(--h3-mobile-font-family);
    font-weight: var(--h3-mobile-font-weight);
    line-height: var(--h3-mobile-line-height);
    font-size: var(--h3-mobile-font-size);
    letter-spacing: var(--h3-mobile-letter-spacing);
    text-transform: var(--h3-mobile-text-case);
    text-decoration: var(--h3-mobile-text-decoration);
  }

  h4.tag-ds {
    font-family: var(--h4-mobile-font-family);
    font-weight: var(--h4-mobile-font-weight);
    line-height: var(--h4-mobile-line-height);
    font-size: var(--h4-mobile-font-size);
    letter-spacing: var(--h4-mobile-letter-spacing);
    text-transform: var(--h4-mobile-text-case);
    text-decoration: var(--h4-mobile-text-decoration);
  }
}
