.tag-ds {
  .bg01,
  &.bg01 {
    background: var(--backgrounds-01);
  }
  .bg02,
  &.bg02 {
    background: var(--backgrounds-02);
  }
  .bg03,
  &.bg03 {
    background: var(--backgrounds-03);
  }
  .bg04,
  &.bg04 {
    background: var(--backgrounds-04);
  }
  .bgGradient,
  &.bgGradient {
    background: var(--backgrounds-gradient);
  }
  .bgAccent,
  &.bgAccent {
    background: var(--backgrounds-accent);
  }
  .bgSecondary,
  &.bgSecondary {
    background: var(--backgrounds-secondary);
  }

  .shadow-elevation_1x,
  &.shadow-elevation_1x {
    box-shadow: var(--surface-1x);
  }

  .shadow-elevation_2x,
  &.shadow-elevation_2x {
    box-shadow: var(--surface-2x);
  }

  .shadow-elevation_3x,
  &.shadow-elevation_3x {
    box-shadow: var(--surface-3x);
  }

  .bg02,
  &.bg02,
  .bg03,
  &.bg03 {
    .shadow-elevation_1x {
      box-shadow: calc($unit / 2) $unit calc(2 * $unit) rgba(28, 48, 75, 0.08);
    }
  }

  .disabled,
  &.disabled {
    color: var(--text-03);
    pointer-events: none;
  }

  .primary-color,
  &.primary-color {
    background: var(--full-palette-primary-500);
  }

  .secondary-color,
  &.secondary-color {
    background: var(--full-palette-secondary-500);
  }

  .action-color,
  &.action-color {
    background: var(--backgrounds-action-cta-enabled);
  }

  .accent-color,
  &.accent-color {
    background: var(--full-palette-accent-500);
  }

  .error-color,
  &.error-color {
    background: var(--full-palette-semantic-error-400);
  }

  .success-color,
  &.success-color {
    background: var(--full-palette-semantic-success-400);
  }

  .alert-color,
  &.alert-color {
    background: var(--full-palette-semantic-alert-400);
  }
}

.bg02,
.bg03 {
  .tag-ds,
  &.tag-ds {
    .shadow-elevation_1x,
    &.shadow-elevation_1x {
      box-shadow: calc($unit / 2) $unit calc(2 * $unit) rgba(28, 48, 75, 0.08);
    }
  }
}

.bg04 {
  .tag-ds,
  &.tag-ds {
    color: var(--text-inverse);
  }
}
