@import "./variables.scss";
@import "./global.scss";
@import "./fonts.scss";
@import "./grid.scss";
@import "./forms.scss";
@import "./buttons.scss";
@import "./breadcrumb.scss";
@import "./badge.scss";
@import "./dropdown.scss";
@import "./toggle.scss";
@import "./avatar.scss";
@import "./breadcrumb.scss";
@import "./calendar.scss";
@import "./accordion.scss";
@import "./chip.scss";
@import "./tooltip.scss";
@import "./statusTag.scss";
@import "./lists.scss";
@import "./tabs.scss";
@import "./sidebar.scss";
@import "./card.scss";
@import "./fileUploader.scss";
@import "./modal.scss";
@import "./loader.scss";
@import "./slider.scss";
@import "./carousel.scss";
@import "./notification.scss";
@import "./contentSwitcher.scss";
@import "./links.scss";
@import "./overflowMenu.scss";
@import "./paginator.scss";
@import "./stepper.scss";
@import "./separator.scss";
@import "./upperMenu.scss";
@import "./treeView.scss";
@import "./table.scss";
@import "./progressBar.scss";
@import "./scrollbar.scss";
@import "./numberInput.scss";
@import "./drawer.scss";
@import "./footer.scss";
@import "./splashScreen.scss";
@import "./quote.scss";
@import "./form.scss";
@import "./emptyState.scss";
@import "./cookieMessage.scss";
@import "./videoPreview.scss";
@import "./filteredSearch.scss";
@import "./dataTable.scss";
@import "./socialSharing.scss";
@import "./hero.scss";
@import "./sidePanel.scss";
@import "./login.scss";
@import "./nps.scss";
@import "./shoppingCart.scss";
@import "./header.scss";
@import "./rating.scss";
@import "./navigation.scss";

@import "../themes/agnostic.scss";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons Outlined"), local("MaterialIcons-Outlined"), url(../fonts/MaterialIcons/MaterialIconsOutlined-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons Round"), local("MaterialIcons-Round"), url(../fonts/MaterialIcons/MaterialIconsRound-Regular.otf) format("opentype");
}

.material-icons {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans/NotoSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans/NotoSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans/NotoSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../fonts/NotoSerif/NotoSerif-Regular.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../fonts/NotoSerif/NotoSerif-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos Text";
  src: url(../fonts/TiemposText/TiemposText-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  letter-spacing: normal;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stepone-ui {
  @include font(medium);
  color: var(--text-01);
  .bg04,
  &.bg04 {
    color: var(--text-inverse);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
