@import "./utilities/variables.scss";
@import "./utilities/background.scss";
@import "./utilities/color.scss";
@import "./utilities/display.scss";
@import "./utilities/flex.scss";
@import "./utilities/gap.scss";
@import "./utilities/margin.scss";
@import "./utilities/padding.scss";
@import "./utilities/position.scss";
@import "./utilities/shadows.scss";
@import "./utilities/sizing.scss";
@import "./utilities/text.scss";
@import "./utilities/variables.scss";

@import "./content/typography.scss";

@import "./layout/grid.scss";

@import "./components/accordion.scss";
@import "./components/avatar.scss";
@import "./components/badge.scss";
@import "./components/breadcrumb.scss";
@import "./components/buttons.scss";
@import "./components/calendar.scss";
@import "./components/card.scss";
@import "./components/carousel.scss";
@import "./components/chip.scss";
@import "./components/contentSwitcher.scss";
@import "./components/cookieMessage.scss";
@import "./components/dataTable.scss";
@import "./components/drawer.scss";
@import "./components/dropdown.scss";
@import "./components/emptyState.scss";
@import "./components/fileUploader.scss";
@import "./components/filteredSearch.scss";
@import "./components/footer.scss";
@import "./components/form.scss";
@import "./components/forms.scss";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/links.scss";
@import "./components/lists.scss";
@import "./components/loader.scss";
@import "./components/login.scss";
@import "./components/modal.scss";
@import "./components/navigation.scss";
@import "./components/notification.scss";
@import "./components/nps.scss";
@import "./components/numberInput.scss";
@import "./components/overflowMenu.scss";
@import "./components/paginator.scss";
@import "./components/progressBar.scss";
@import "./components/quote.scss";
@import "./components/rating.scss";
@import "./components/scrollbar.scss";
@import "./components/separator.scss";
@import "./components/shoppingCart.scss";
@import "./components/sidebar.scss";
@import "./components/sidePanel.scss";
@import "./components/slider.scss";
@import "./components/socialSharing.scss";
@import "./components/splashScreen.scss";
@import "./components/statusTag.scss";
@import "./components/stepper.scss";
@import "./components/table.scss";
@import "./components/tabs.scss";
@import "./components/toggle.scss";
@import "./components/tooltip.scss";
@import "./components/treeView.scss";
@import "./components/upperMenu.scss";
@import "./components/videoPreview.scss";

@import "../themes/agnostic.scss";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons Outlined"), local("MaterialIcons-Outlined"), url(../fonts/MaterialIcons/MaterialIconsOutlined-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons Round"), local("MaterialIcons-Round"), url(../fonts/MaterialIcons/MaterialIconsRound-Regular.otf) format("opentype");
}

.material-icons {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans/NotoSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans/NotoSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans/NotoSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../fonts/NotoSerif/NotoSerif-Regular.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../fonts/NotoSerif/NotoSerif-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos Text";
  src: url(../fonts/TiemposText/TiemposText-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  letter-spacing: normal;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stepone-ui {
  @include font(medium);
  color: var(--text-01);
  .bg04,
  &.bg04 {
    color: var(--text-inverse);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
