.stepone-ui {
  .overflow-menu,
  &.overflow-menu {
    @extend .shadow-elevation_2x;
    overflow: hidden;
    width: calc(44 * $unit);
    background-color: var(--backgrounds-01);
    border-radius: $unit;
    height: auto;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 1;
    padding: calc(2 * $unit);
    max-height: 50vh;
  }
  .overflow-menu-header {
    display: flex;
    align-items: center;
    margin-bottom: calc(3 * $unit);
  }

  .overflow-menu-action {
    margin-left: auto;
  }

  button.overflow-menu-close {
    @extend %button-icon_interactive;
    &:has(.material-icons:not(.left, .right)) {
      padding: 0;
      height: calc(2 * $unit);
      width: calc(2 * $unit);
      min-width: auto;
    }
    margin-left: calc(2 * $unit);
    & > span.material-icons {
      font-size: calc(2 * $unit);
    }
  }

  .overflow-menu-body {
    max-height: 40vh;
    overflow-y: auto;
  }

  .overflow-menu-title + .overflow-menu-close {
    margin-left: auto;
  }
}
