.tag-ds {
  .shopping-cart {
    left: 0;
    top: 0;
    .overflow-menu-header > .overflow-menu-title {
      font-size: calc(3 * $unit);
      line-height: calc(4 * $unit);
    }
    .shopping-cart-items {
      .shopping-cart-item {
        position: relative;
        margin-top: $unit;
        border-radius: $unit;
        display: flex;
        align-items: center;
        padding: $unit;
        background-color: var(--backgrounds-03);

        &:first-child {
          margin-top: 0;
        }

        & > img {
          border-radius: $unit;
        }
        & > .shopping-cart-item-details {
          margin-left: $unit;
          & > div:last-child {
            color: var(--text-02);
          }
        }

        & > .shopping-cart-item-close {
          cursor: pointer;
          position: absolute;
          color: var(--icons-02);
          font-size: calc(2 * $unit);
          height: calc(2 * $unit);
          width: calc(2 * $unit);
          top: calc(2 * $unit);
          right: calc(2 * $unit);
        }
      }

      &_empty {
        margin: calc(4 * $unit) calc(3 * $unit);
        margin-bottom: calc(5 * $unit);
        text-align: center;
      }
    }
    .shopping-cart-overall {
      margin-top: calc(3 * $unit);
      display: flex;
      justify-content: space-between;
      @include font(medium);
      font-weight: 500;

      & > div:last-child {
        color: var(--text-02);
      }
    }

    .shopping-cart-detail {
      display: flex;
      justify-content: space-between;
      @include font(small);
      margin: $unit 0;

      & > div:last-child {
        color: var(--text-02);
      }
    }
  }
}
