%thumb {
  background-color: var(--backgrounds-01);
  border: $unit solid var(--text-interactive-link-on-light-enabled);
  border-radius: 50%;
  cursor: pointer;
  height: calc(3 * $unit);
  width: calc(3 * $unit);
  pointer-events: all;
  position: relative;
}

.tag-ds {
  .slider-wrapper,
  &.slider-wrapper {
    position: relative;
    max-width: 100%;
    min-height: calc(3 * $unit);
  }

  .slider-track,
  .slider-range,
  .slider-range_disabled {
    position: absolute;
  }

  .slider-track,
  .slider-range,
  .slider-range_disabled {
    height: $unit;
    border-radius: $unit;
  }

  .slider-track {
    background-color: var(--backgrounds-03);
    width: 99%;
  }

  .slider-range {
    background-color: var(--backgrounds-secondary);
  }

  .slider-range_disabled {
    @extend .slider-range;
    background-color: var(--backgrounds-interactive-disabled);
  }

  .thumb,
  .thumb::-webkit-slider-thumb,
  .thumb_disabled,
  .thumb_disabled::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb,
  .thumb_disabled {
    pointer-events: none;
    position: absolute;
    top: calc($unit / 4);
    right: 0;
    height: 0;
    width: 100%;
    outline: none;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    @extend %thumb;
  }

  .thumb:active::-webkit-slider-thumb {
    border: calc($unit / 2) solid var(--text-interactive-link-on-light-enabled);
  }

  .thumb_disabled::-webkit-slider-thumb {
    @extend %thumb;
    border: $unit solid var(--icons-03);
  }

  .slider-label {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: calc(3 * $unit);
  }

  .slider > .slider-label,
  .slider_disabled > .slider-label {
    top: calc(2 * $unit);
  }

  .slider-input-container {
    position: absolute;
    width: 100%;
  }

  .tooltip.slider {
    position: absolute;
    top: 0;
    transform: translate(-50%, calc(-100% - 3 * $unit));
    width: max-content;
  }

  .slider-value-track {
    position: relative;
    display: flex;
    margin-top: calc(3 * $unit);
  }

  .bg03,
  &.bg03,
  .bg04,
  &.bg04 {
    .slider-track {
      background-color: var(--backgrounds-02);
    }
  }
}

.bg03,
.bg04 {
  .tag-ds,
  &.tag-ds {
    .slider-track {
      background-color: var(--backgrounds-02);
    }
  }
}
