.stepone-ui {
  .status-tag,
  &.status-tag {
    @extend %tag-font;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    pointer-events: none;
    padding: calc($unit / 2) calc(2 * $unit);
    background-color: var(--surface-feedback-info);
    color: var(--text-01);
    border-radius: calc(2 * $unit);
    width: fit-content;

    span,
    i,
    svg,
    .icon {
      font-size: calc(2 * $unit);
      margin-right: $unit;
    }
  }

  .status-tag_info,
  &.status-tag_info,
  .status-tag_alert,
  &.status-tag_alert,
  .status-tag_success,
  &.status-tag_success,
  .status-tag_error,
  &.status-tag_error {
    @extend .status-tag;
  }

  .status-tag_alert,
  &.status-tag_alert,
  .status-tag.alert,
  &.status-tag.alert {
    background-color: var(--surface-feedback-alert);
  }

  .status-tag_success,
  &.status-tag_success,
  .status-tag.success,
  &.status-tag.success {
    background-color: var(--surface-feedback-success);
  }

  .status-tag_error,
  &.status-tag_error,
  .status-tag.error,
  &.status-tag.error {
    background-color: var(--surface-feedback-error);
  }
}
