.stepone-ui {
  .tree-container,
  &.tree-container {
    width: 100%;
    .tree-element,
    &.tree-element {
      margin-top: 0;
      margin-bottom: 0;
      margin-bottom: $unit;
      @include font(medium);
      text-transform: none;
      border: 0;
      border-left: calc($unit / 4) solid transparent;
      background-color: transparent;
      border-radius: 0;
      padding: 0;
      padding-left: calc(3 * $unit);
      height: auto;
      width: 100%;
      &:has(.material-icons:not(.left, .right)) {
        padding: 0;
        padding-left: calc(3 * $unit);
        height: auto;
      }

      .tree-li {
        padding: 0;
        display: flex;
        align-items: center;
        padding-right: calc(2 * $unit);
      }

      & .list-icon {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
      }

      .tree-element-icon-right {
        margin-left: auto;
        font-size: calc(2 * $unit);
      }

      & > li {
        color: var(--text-01);
        text-align: left;
        width: 100%;
      }

      &:hover {
        & > li {
          color: var(--text-interactive-link-on-light-hover);
        }
        background-color: transparent;
        border: 0;
        border-left: calc($unit / 4) solid transparent;
      }

      &:active {
        border: 0;
        border-left: calc($unit / 4) solid transparent;
        & > li {
          color: var(--text-interactive-link-on-light-pressed);
        }
      }

      //border-left: calc($unit / 4) solid var(--surface-accent);
      &:focus-visible {
        outline: calc($unit / 2) solid var(--borders-dividers-interactive-focused);
      }

      &:disabled {
        background-color: transparent;
        border: 0;
        border-left: calc($unit / 4) solid transparent;
        & > li {
          color: var(--text-03);
        }
      }
    }

    .tree-element-item {
      padding-left: $unit;
    }
  }
}
