@use "sass:map";
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@each $viewport, $sizes in $viewports {
  @include breakpoint($viewport) {
    .container_#{$viewport} {
      width: 100%;
      max-width: map-get($map: $sizes, $key: "max-width");
      margin: 0 auto;
    }
  }
}

.container_fluid {
  width: 100%;
  margin: 0 auto;
}
