.flex {
  display: flex;
}

.inline_flex {
  display: inline-flex;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_wrap {
  flex-wrap: wrap;
}

//ALIGN
.align_center {
  align-items: center;
}
.align_start {
  align-items: flex-start;
}
.align_end {
  align-items: flex-end;
}

@include breakpoint("tablet") {
  .align_center_tablet {
    align-items: center;
  }
  .align_start_tablet {
    align-items: flex-start;
  }
  .align_end_tablet {
    align-items: flex-end;
  }
}

@include breakpoint("mobile") {
  .align_center_mobile {
    align-items: center;
  }
  .align_start_mobile {
    align-items: flex-start;
  }
  .align_end_mobile {
    align-items: flex-end;
  }
}

//JUSTIFY CONTENT
.justify_center {
  justify-content: center;
}
.justify_start {
  justify-content: flex-start;
}
.justify_end {
  justify-content: flex-end;
}
.justify_between {
  justify-content: space-between;
}
.justify_around {
  justify-content: space-around;
}

@include breakpoint("tablet") {
  .justify_center_tablet {
    justify-content: center;
  }
  .justify_start_tablet {
    justify-content: flex-start;
  }
  .justify_end_tablet {
    justify-content: flex-end;
  }
  .justify_between_tablet {
    justify-content: space-between;
  }
  .justify_around_tablet {
    justify-content: space-around;
  }
}

@include breakpoint("mobile") {
  .justify_center_mobile {
    justify-content: center;
  }
  .justify_start_mobile {
    justify-content: flex-start;
  }
  .justify_end_mobile {
    justify-content: flex-end;
  }
  .justify_between_mobile {
    justify-content: space-between;
  }
  .justify_around_mobile {
    justify-content: space-around;
  }
}
