//GAPS

@for $i from 0 through 50 {
  .g#{$i} {
    gap: calc($i * $unit) !important;
  }
  .gx#{$i} {
    column-gap: calc($i * $unit) !important;
  }
  .gy#{$i} {
    row-gap: calc($i * $unit) !important;
  }
}

@for $i from 0 through 50 {
  @include breakpoint("tablet") {
    .g#{$i}_tablet {
      gap: calc($i * $unit) !important;
    }
    .gx#{$i}_tablet {
      column-gap: calc($i * $unit) !important;
    }
    .gy#{$i}_tablet {
      row-gap: calc($i * $unit) !important;
    }
  }
}

@for $i from 0 through 50 {
  @include breakpoint("mobile") {
    .g#{$i}_mobile {
      gap: calc($i * $unit) !important;
    }
    .gx#{$i}_mobile {
      column-gap: calc($i * $unit) !important;
    }
    .gy#{$i}_mobile {
      margin-top: calc($i * $unit) !important;
    }
  }
}
