//MARGINS
@for $i from 0 through 50 {
  .m#{$i} {
    margin: calc($i * $unit) !important;
  }
  .mt#{$i} {
    margin-top: calc($i * $unit) !important;
  }
  .mr#{$i} {
    margin-right: calc($i * $unit) !important;
  }
  .mb#{$i} {
    margin-bottom: calc($i * $unit) !important;
  }
  .ml#{$i} {
    margin-left: calc($i * $unit) !important;
  }
  .mx#{$i} {
    margin-right: calc($i * $unit) !important;
    margin-left: calc($i * $unit) !important;
  }
  .my#{$i} {
    margin-top: calc($i * $unit) !important;
    margin-bottom: calc($i * $unit) !important;
  }
}
@for $i from 0 through 50 {
  @include breakpoint("tablet") {
    .m#{$i}_tablet {
      margin: calc($i * $unit) !important;
    }
    .mt#{$i}_tablet {
      margin-top: calc($i * $unit) !important;
    }
    .mr#{$i}_tablet {
      margin-right: calc($i * $unit) !important;
    }
    .mb#{$i}_tablet {
      margin-bottom: calc($i * $unit) !important;
    }
    .ml#{$i}_tablet {
      margin-left: calc($i * $unit) !important;
    }
    .mx#{$i}_tablet {
      margin-right: calc($i * $unit) !important;
      margin-left: calc($i * $unit) !important;
    }
    .my#{$i}_tablet {
      margin-top: calc($i * $unit) !important;
      margin-bottom: calc($i * $unit) !important;
    }
  }
}
@for $i from 0 through 50 {
  @include breakpoint("mobile") {
    .m#{$i}_mobile {
      margin: calc($i * $unit) !important;
    }
    .mt#{$i}_mobile {
      margin-top: calc($i * $unit) !important;
    }
    .mr#{$i}_mobile {
      margin-right: calc($i * $unit) !important;
    }
    .mb#{$i}_mobile {
      margin-bottom: calc($i * $unit) !important;
    }
    .ml#{$i}_mobile {
      margin-left: calc($i * $unit) !important;
    }
    .mx#{$i}_mobile {
      margin-right: calc($i * $unit) !important;
      margin-left: calc($i * $unit) !important;
    }
    .my#{$i}_mobile {
      margin-top: calc($i * $unit) !important;
      margin-bottom: calc($i * $unit) !important;
    }
  }
}

.ma {
  margin: auto !important;
}
.mta {
  margin-top: auto !important;
}
.mra {
  margin-right: auto !important;
}
.mba {
  margin-bottom: auto !important;
}
.mla {
  margin-left: auto !important;
}
.mxa {
  margin-right: auto !important;
  margin-left: auto !important;
}
.mya {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

@include breakpoint("tablet") {
  .ma_tablet {
    margin: auto !important;
  }
  .mta_tablet {
    margin-top: auto !important;
  }
  .mra_tablet {
    margin-right: auto !important;
  }
  .mba_tablet {
    margin-bottom: auto !important;
  }
  .mla_tablet {
    margin-left: auto !important;
  }
  .mxa_tablet {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mya_tablet {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@include breakpoint("mobile") {
  .ma_mobile {
    margin: auto !important;
  }
  .mta_mobile {
    margin-top: auto !important;
  }
  .mra_mobile {
    margin-right: auto !important;
  }
  .mba_mobile {
    margin-bottom: auto !important;
  }
  .mla_mobile {
    margin-left: auto !important;
  }
  .mxa_mobile {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mya_mobile {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}
