//PADDINGS

@for $i from 0 through 50 {
  .p#{$i} {
    padding: calc($i * $unit) !important;
  }
  .pt#{$i} {
    padding-top: calc($i * $unit) !important;
  }
  .pr#{$i} {
    padding-right: calc($i * $unit) !important;
  }
  .pb#{$i} {
    padding-bottom: calc($i * $unit) !important;
  }
  .pl#{$i} {
    padding-left: calc($i * $unit) !important;
  }
  .px#{$i} {
    padding-left: calc($i * $unit) !important;
    padding-right: calc($i * $unit) !important;
  }
  .py#{$i} {
    padding-top: calc($i * $unit) !important;
    padding-bottom: calc($i * $unit) !important;
  }
}
@for $i from 0 through 50 {
  @include breakpoint("tablet") {
    .p#{$i}_tablet {
      padding: calc($i * $unit) !important;
    }
    .pt#{$i}_tablet {
      padding-top: calc($i * $unit) !important;
    }
    .pr#{$i}_tablet {
      padding-right: calc($i * $unit) !important;
    }
    .pb#{$i}_tablet {
      padding-bottom: calc($i * $unit) !important;
    }
    .pl#{$i}_tablet {
      padding-left: calc($i * $unit) !important;
    }
    .px#{$i}_tablet {
      padding-left: calc($i * $unit) !important;
      padding-right: calc($i * $unit) !important;
    }
    .py#{$i}_tablet {
      padding-top: calc($i * $unit) !important;
      padding-bottom: calc($i * $unit) !important;
    }
  }
}
@for $i from 0 through 50 {
  @include breakpoint("mobile") {
    .p#{$i}_mobile {
      padding: calc($i * $unit) !important;
    }
    .pt#{$i}_mobile {
      padding-top: calc($i * $unit) !important;
    }
    .pr#{$i}_mobile {
      padding-right: calc($i * $unit) !important;
    }
    .pb#{$i}_mobile {
      padding-bottom: calc($i * $unit) !important;
    }
    .pl#{$i}_mobile {
      padding-left: calc($i * $unit) !important;
    }
    .px#{$i}_mobile {
      padding-left: calc($i * $unit) !important;
      padding-right: calc($i * $unit) !important;
    }
    .py#{$i}_mobile {
      padding-top: calc($i * $unit) !important;
      padding-bottom: calc($i * $unit) !important;
    }
  }
}
