//POSITIONS
.position_relative {
  position: relative !important;
}
.position_absolute {
  position: absolute !important;
}

@include breakpoint("tablet") {
  .position_relative_tablet {
    position: relative !important;
  }
  .position_absolute_tablet {
    position: absolute !important;
  }
}

@include breakpoint("mobile") {
  .position_relative_mobile {
    position: relative !important;
  }
  .position_absolute_mobile {
    position: absolute !important;
  }
}
